<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.d7c.springboot.client.daos.sys.ExtSysUserDao">
	<!-- resultMap引入：resultMap="top.d7c.springboot.common.daos.sys.BaseSysUserDao.BaseResultMap" -->
	<!-- SQL 片段引入：<include refid="top.d7c.springboot.common.daos.sys.BaseSysUserDao.Base_Column_List"/> -->
	<!-- 根据用户名查询用户 -->
	<select id="getSysUserByUserAccount" parameterType="java.lang.String" resultMap="top.d7c.springboot.common.daos.sys.BaseSysUserDao.BaseResultMap">
		SELECT <include refid="top.d7c.springboot.common.daos.sys.BaseSysUserDao.Base_Column_List"/> FROM sys_user 
		WHERE userAccount = #{userAccount, jdbcType=VARCHAR}
	</select>
	
	<!-- 更新登录状态 -->
	<update id="updateByLogin" parameterType="top.d7c.springboot.common.dos.sys.SysUser">
		UPDATE sys_user SET 
			loginStatus = #{loginStatus, jdbcType=TINYINT}, 
			loginTime = #{loginTime, jdbcType=TIMESTAMP}, 
			loginIp = #{loginIp, jdbcType=VARCHAR}
		WHERE userId = #{userId, jdbcType=BIGINT} 
	</update>

</mapper>