<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d7c.springboot.client.daos.sys.ExtSysRoleDao">
	<!-- resultMap引入：resultMap="com.d7c.springboot.common.daos.sys.BaseSysRoleDao.BaseResultMap" -->
	<!-- SQL 片段引入：<include refid="com.d7c.springboot.common.daos.sys.BaseSysRoleDao.Base_Column_List"/> -->
	<!-- 根据角色编号查询当前角色及全部上级角色名称 -->
	<select id="getAllParentRoleName" parameterType="java.lang.Long" resultType="pd">
		SELECT getAllParentRoleName(#{roleId, jdbcType=BIGINT}) roleNameList, menuQx FROM sys_role 
		WHERE roleId = #{roleId, jdbcType=BIGINT} 
	</select>
	
	<!-- zTree 角色树 -->
	<select id="listZTreeByParentId" parameterType="java.lang.Long" resultType="com.d7c.springboot.client.dtos.tree.ZTree">
		SELECT roleId id, parentId pId, roleName name, 0 checked, 1 isParent FROM sys_role
		WHERE `status` = 1 
			<if test="null != _parameter">
				AND parentId = #{_parameter, jdbcType=BIGINT} 
			</if>
		ORDER BY sort ASC 
	</select>
	
	<!-- SelectTree 下拉树 -->
	<select id="listSelectTreeByParentId" parameterType="java.lang.Long" resultType="com.d7c.springboot.client.dtos.tree.SelectTree">
		SELECT roleId id, parentId pId, roleName name<!-- , parentId title, "static/d7c/img/user.gif" icon --> FROM sys_role
		WHERE `status` = 1 
			<if test="null != _parameter">
				AND parentId = #{_parameter, jdbcType=BIGINT} 
			</if>
		ORDER BY sort ASC
	</select>
	
	<!-- 根据条件分页查询角色列表 -->
	<select id="listPDPage" parameterType="page" resultType="pd">
		SELECT roleId, parentId, roleName, sort, remark, addTime, addUser, status, checkValue FROM sys_role 
		<where>
			<if test="args != null">
				<if test="null != args.roleId">
					AND roleId = #{args.roleId, jdbcType=BIGINT} 
				</if>
				<if test="null != args.parentId">
					AND parentId = #{args.parentId, jdbcType=BIGINT} 
				</if>
				<if test="null != args.status">
					AND status = #{args.status, jdbcType=TINYINT} 
				</if>
			</if>
		</where>
	</select>
	
	<!-- 根据角色编号软删除角色 -->
	<update id="updateStatus" parameterType="pd">
		update sys_role set 
			status = #{status, jdbcType=TINYINT}, 
			modifyUser = #{modifyUser, jdbcType=BIGINT}, 
			checkValue = checkValue() 
		WHERE roleId = #{roleId, jdbcType=BIGINT} AND checkValue = #{checkValue, jdbcType=INTEGER} 
	</update>
	
	<!-- 根据用户编号查询该用户角色信息 -->
	<select id="getRoleInfoByUserId" parameterType="java.lang.Long" resultType="pd">
		SELECT a.roleId, b.parentId FROM sys_user a INNER JOIN sys_role b ON a.roleId = b.roleId 
		WHERE a.userId = #{userId, jdbcType=BIGINT} 
	</select>
	
</mapper>