<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d7c.springboot.common.daos.security.BaseSecurityKeyDao">
    <!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.d7c.springboot.common.dos.security.SecurityKey">
		<id column="appid" property="appid" jdbcType="VARCHAR"/>
		<result column="privateKey" property="privateKey" jdbcType="VARCHAR"/>
		<result column="publicKey" property="publicKey" jdbcType="VARCHAR"/>
		<result column="expiration" property="expiration" jdbcType="BIGINT"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="addUser" property="addUser" jdbcType="BIGINT"/>
		<result column="modifyTime" property="modifyTime" jdbcType="TIMESTAMP"/>
		<result column="modifyUser" property="modifyUser" jdbcType="BIGINT"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="checkValue" property="checkValue" jdbcType="INTEGER"/>
	</resultMap>
	
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		appid, privateKey, publicKey, expiration, remark, addTime, addUser, modifyTime, modifyUser, status, checkValue 
	</sql>
	
	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.d7c.springboot.common.dos.security.SecurityKey">
		INSERT INTO security_key (
		<trim suffixOverrides=",">
			appid, 
			privateKey, 
			publicKey, 
			expiration, 
			remark, 
			addTime, 
			addUser, 
			status, 
			checkValue, 
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			#{appid, jdbcType=VARCHAR}, 
			#{privateKey, jdbcType=VARCHAR}, 
			#{publicKey, jdbcType=VARCHAR}, 
			#{expiration, jdbcType=BIGINT}, 
			#{remark, jdbcType=VARCHAR}, 
			NOW(),
			#{addUser, jdbcType=BIGINT}, 
			#{status, jdbcType=TINYINT}, 
			checkValue(), 
		</trim>)
	</insert>
	
	<!-- 批量插入接口 -->
	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO security_key (
			appid, 
			privateKey, 
			publicKey, 
			expiration, 
			remark, 
			addTime, 
			addUser, 
			status, 
			checkValue) VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.appid, jdbcType=VARCHAR}, 
			#{item.privateKey, jdbcType=VARCHAR}, 
			#{item.publicKey, jdbcType=VARCHAR}, 
			#{item.expiration, jdbcType=BIGINT}, 
			#{item.remark, jdbcType=VARCHAR}, 
			NOW(),
			#{item.addUser, jdbcType=BIGINT}, 
			#{item.status, jdbcType=TINYINT}, 
			checkValue())
		</foreach>
	</insert>
	
	<!-- 更新全部字段 -->
	<update id="updateByKey" parameterType="com.d7c.springboot.common.dos.security.SecurityKey">
		UPDATE security_key SET 
			privateKey = #{privateKey, jdbcType=VARCHAR}, 
			publicKey = #{publicKey, jdbcType=VARCHAR}, 
			expiration = #{expiration, jdbcType=BIGINT}, 
			remark = #{remark, jdbcType=VARCHAR}, 
			modifyUser = #{modifyUser, jdbcType=BIGINT}, 
			status = #{status, jdbcType=TINYINT}, 
			checkValue = checkValue() 
		WHERE appid = #{appid, jdbcType=VARCHAR} AND checkValue = #{checkValue, jdbcType=INTEGER}
	</update>
	
	<!-- 只更新不为 null 和 空字符串的字段 -->
	<update id="update" parameterType="com.d7c.springboot.common.dos.security.SecurityKey">
		UPDATE security_key 
		<trim prefix="set" suffixOverrides=",">
			checkValue = checkValue(), 
			<if test="null != privateKey and privateKey != ''">
				privateKey = #{privateKey, jdbcType=VARCHAR}, 
			</if>
			<if test="null != publicKey and publicKey != ''">
				publicKey = #{publicKey, jdbcType=VARCHAR}, 
			</if>
			<if test="null != expiration and expiration != ''">
				expiration = #{expiration, jdbcType=BIGINT}, 
			</if>
			<if test="null != remark and remark != ''">
				remark = #{remark, jdbcType=VARCHAR}, 
			</if>
			<if test="null != modifyUser">
				modifyUser = #{modifyUser, jdbcType=BIGINT}, 
			</if>
			<if test="null != status">
				status = #{status, jdbcType=TINYINT}, 
			</if>
		</trim>
		WHERE appid = #{appid, jdbcType=VARCHAR} AND checkValue = #{checkValue, jdbcType=INTEGER}
	</update>
	
	<!-- 根据主键物理删除数据 -->
	<delete id="deleteByKey" parameterType="java.lang.String">
		DELETE FROM security_key WHERE appid = #{appid, jdbcType=VARCHAR}
	</delete>
	
	<!-- 根据主键查询 pojo -->
	<select id="getByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM security_key 
		WHERE appid = #{appid, jdbcType=VARCHAR}
	</select>
	
	<!-- 根据主键查询 pojo -->
	<select id="getPDByKey" parameterType="java.lang.String" resultType="pd">
		SELECT <include refid="Base_Column_List"/> FROM security_key 
		WHERE appid = #{appid, jdbcType=VARCHAR}
	</select>
	
	<!-- 根据条件分页查询 pojo 列表 -->
	<select id="listPage" parameterType="page" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM security_key 
		WHERE 1 = 1 
		<if test="args != null">
			<if test="null != args.privateKey and args.privateKey != ''">
				AND privateKey = #{args.privateKey, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.publicKey and args.publicKey != ''">
				AND publicKey = #{args.publicKey, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.expiration and args.expiration != ''">
				AND expiration = #{args.expiration, jdbcType=BIGINT} 
			</if>
			<if test="null != args.remark and args.remark != ''">
				AND remark = #{args.remark, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.addTime">
				AND addTime = #{args.addTime, jdbcType=TIMESTAMP} 
			</if>
			<if test="null != args.addUser">
				AND addUser = #{args.addUser, jdbcType=BIGINT} 
			</if>
			<if test="null != args.modifyTime">
				AND modifyTime = #{args.modifyTime, jdbcType=TIMESTAMP} 
			</if>
			<if test="null != args.modifyUser">
				AND modifyUser = #{args.modifyUser, jdbcType=BIGINT} 
			</if>
			<if test="null != args.status">
				AND status = #{args.status, jdbcType=TINYINT} 
			</if>
			<if test="null != args.checkValue">
				AND checkValue = #{args.checkValue, jdbcType=INTEGER} 
			</if>
		</if>
	</select>
	
	<!-- 根据条件查询 pojo 列表 -->
	<select id="listBy" parameterType="pd" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM security_key 
		WHERE 1 = 1 
		<if test="null != privateKey and privateKey != ''">
			AND privateKey = #{privateKey, jdbcType=VARCHAR} 
		</if>
		<if test="null != publicKey and publicKey != ''">
			AND publicKey = #{publicKey, jdbcType=VARCHAR} 
		</if>
		<if test="null != expiration and expiration != ''">
			AND expiration = #{expiration, jdbcType=BIGINT} 
		</if>
		<if test="null != remark and remark != ''">
			AND remark = #{remark, jdbcType=VARCHAR} 
		</if>
		<if test="null != addTime">
			AND addTime = #{addTime, jdbcType=TIMESTAMP} 
		</if>
		<if test="null != addUser">
			AND addUser = #{addUser, jdbcType=BIGINT} 
		</if>
		<if test="null != modifyTime">
			AND modifyTime = #{modifyTime, jdbcType=TIMESTAMP} 
		</if>
		<if test="null != modifyUser">
			AND modifyUser = #{modifyUser, jdbcType=BIGINT} 
		</if>
		<if test="null != status">
			AND status = #{status, jdbcType=TINYINT} 
		</if>
		<if test="null != checkValue">
			AND checkValue = #{checkValue, jdbcType=INTEGER} 
		</if>
	</select>
	
</mapper>