<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gnol.springboot.common.daos.sys.BaseSysRoleMenuDao">
    <!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gnol.springboot.common.pojos.sys.SysRoleMenu">
		<result column="roleId" property="roleId" jdbcType="BIGINT"/>
		<result column="menuId" property="menuId" jdbcType="INTEGER"/>
	</resultMap>
	
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		roleId, menuId 
	</sql>
	
	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.gnol.springboot.common.pojos.sys.SysRoleMenu">
		INSERT INTO sys_role_menu (
		<trim suffixOverrides=",">
			roleId, 
			menuId, 
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			#{roleId, jdbcType=BIGINT}, 
			#{menuId, jdbcType=INTEGER}, 
		</trim>)
	</insert>
	
	<!-- 批量插入接口 -->
	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO sys_role_menu (<include refid="Base_Column_List"/>) VALUES 
    	<foreach collection="list" item="item" index="index" separator="," >
        	(#{item.roleId, jdbcType=BIGINT}, 
        	#{item.menuId, jdbcType=INTEGER})
		</foreach>
	</insert>
	
	<!-- 更新全部字段 -->
	<update id="updateByKey" parameterType="com.gnol.springboot.common.pojos.sys.SysRoleMenu">
		UPDATE sys_role_menu SET 
			menuId = #{menuId, jdbcType=INTEGER} 
		WHERE roleId = #{roleId, jdbcType=BIGINT}
	</update>
	
	<!-- 只更新不为 null 和 空字符串的字段 -->
	<update id="update" parameterType="com.gnol.springboot.common.pojos.sys.SysRoleMenu">
		UPDATE sys_role_menu 
		<trim prefix="set" suffixOverrides=",">
			<if test="null != menuId">
				menuId = #{menuId, jdbcType=INTEGER}, 
			</if>
		</trim>
		WHERE roleId = #{roleId, jdbcType=BIGINT}
	</update>
	
	<!-- 根据主键物理删除数据 -->
	<delete id="deleteByKey" parameterType="java.lang.Long">
		DELETE FROM sys_role_menu WHERE roleId = #{roleId, jdbcType=BIGINT}
	</delete>
	
	<!-- 根据主键查询 pojo -->
	<select id="getByKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_role_menu 
		WHERE roleId = #{roleId, jdbcType=BIGINT}
	</select>
	
	<!-- 根据主键查询 pojo -->
	<select id="getPDByKey" parameterType="java.lang.Long" resultType="pd">
		SELECT <include refid="Base_Column_List"/> FROM sys_role_menu 
		WHERE roleId = #{roleId, jdbcType=BIGINT}
	</select>
	
	<!-- 根据条件分页查询 pojo 列表 -->
	<select id="listPage" parameterType="page" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_role_menu 
		WHERE 1 = 1 
		<if test="args != null">
			<if test="null != args.menuId">
				AND menuId = #{args.menuId, jdbcType=INTEGER} 
			</if>
		</if>
	</select>
	
	<!-- 根据条件查询 pojo 列表 -->
	<select id="listBy" parameterType="pd" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_role_menu 
		WHERE 1 = 1 
		<if test="null != menuId">
			AND menuId = #{menuId, jdbcType=INTEGER} 
		</if>
	</select>
	
</mapper>