<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gnol.springboot.common.daos.sys.BaseSysLogDao">
    <!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gnol.springboot.common.dos.sys.SysLog">
		<id column="logId" property="logId" jdbcType="BIGINT"/>
		<result column="requestUri" property="requestUri" jdbcType="VARCHAR"/>
		<result column="requestMethod" property="requestMethod" jdbcType="VARCHAR"/>
		<result column="requestParams" property="requestParams" jdbcType="VARCHAR"/>
		<result column="exceptionInfo" property="exceptionInfo" jdbcType="VARCHAR"/>
		<result column="remoteAddr" property="remoteAddr" jdbcType="VARCHAR"/>
		<result column="userAgent" property="userAgent" jdbcType="VARCHAR"/>
		<result column="deviceName" property="deviceName" jdbcType="VARCHAR"/>
		<result column="browserName" property="browserName" jdbcType="VARCHAR"/>
		<result column="logType" property="logType" jdbcType="TINYINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="addUser" property="addUser" jdbcType="BIGINT"/>
	</resultMap>
	
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		logId, requestUri, requestMethod, requestParams, exceptionInfo, remoteAddr, userAgent, deviceName, browserName, logType, addTime, addUser 
	</sql>
	
	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.gnol.springboot.common.dos.sys.SysLog">
		INSERT INTO sys_log (
		<trim suffixOverrides=",">
			logId, 
			requestUri, 
			requestMethod, 
			requestParams, 
			exceptionInfo, 
			remoteAddr, 
			userAgent, 
			deviceName, 
			browserName, 
			logType, 
			addTime, 
			addUser, 
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			#{logId, jdbcType=BIGINT}, 
			#{requestUri, jdbcType=VARCHAR}, 
			#{requestMethod, jdbcType=VARCHAR}, 
			#{requestParams, jdbcType=VARCHAR}, 
			#{exceptionInfo, jdbcType=VARCHAR}, 
			#{remoteAddr, jdbcType=VARCHAR}, 
			#{userAgent, jdbcType=VARCHAR}, 
			#{deviceName, jdbcType=VARCHAR}, 
			#{browserName, jdbcType=VARCHAR}, 
			#{logType, jdbcType=TINYINT}, 
			NOW(), 
			#{addUser, jdbcType=BIGINT}, 
		</trim>)
	</insert>
	
	<!-- 批量插入接口 -->
	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO sys_log (<include refid="Base_Column_List"/>) VALUES 
    	<foreach collection="list" item="item" index="index" separator="," >
        	(#{item.logId, jdbcType=BIGINT}, 
			#{item.requestUri, jdbcType=VARCHAR}, 
			#{item.requestMethod, jdbcType=VARCHAR}, 
			#{item.requestParams, jdbcType=VARCHAR}, 
			#{item.exceptionInfo, jdbcType=VARCHAR}, 
			#{item.remoteAddr, jdbcType=VARCHAR}, 
			#{item.userAgent, jdbcType=VARCHAR}, 
			#{item.deviceName, jdbcType=VARCHAR}, 
			#{item.browserName, jdbcType=VARCHAR}, 
			#{item.logType, jdbcType=TINYINT}, 
			NOW(), 
			#{item.addUser, jdbcType=BIGINT})
		</foreach>
	</insert>
	
	<!-- 更新全部字段 -->
	<update id="updateByKey" parameterType="com.gnol.springboot.common.dos.sys.SysLog">
		UPDATE sys_log SET 
			requestUri = #{requestUri, jdbcType=VARCHAR}, 
			requestMethod = #{requestMethod, jdbcType=VARCHAR}, 
			requestParams = #{requestParams, jdbcType=VARCHAR}, 
			exceptionInfo = #{exceptionInfo, jdbcType=VARCHAR}, 
			remoteAddr = #{remoteAddr, jdbcType=VARCHAR}, 
			userAgent = #{userAgent, jdbcType=VARCHAR}, 
			deviceName = #{deviceName, jdbcType=VARCHAR}, 
			browserName = #{browserName, jdbcType=VARCHAR}, 
			logType = #{logType, jdbcType=TINYINT}, 
			addTime = #{addTime, jdbcType=TIMESTAMP}, 
			addUser = #{addUser, jdbcType=BIGINT} 
		WHERE logId = #{logId, jdbcType=BIGINT}
	</update>
	
	<!-- 只更新不为 null 和 空字符串的字段 -->
	<update id="update" parameterType="com.gnol.springboot.common.dos.sys.SysLog">
		UPDATE sys_log 
		<trim prefix="set" suffixOverrides=",">
			<if test="null != requestUri and requestUri != ''">
				requestUri = #{requestUri, jdbcType=VARCHAR}, 
			</if>
			<if test="null != requestMethod and requestMethod != ''">
				requestMethod = #{requestMethod, jdbcType=VARCHAR}, 
			</if>
			<if test="null != requestParams and requestParams != ''">
				requestParams = #{requestParams, jdbcType=VARCHAR}, 
			</if>
			<if test="null != exceptionInfo and exceptionInfo != ''">
				exceptionInfo = #{exceptionInfo, jdbcType=VARCHAR}, 
			</if>
			<if test="null != remoteAddr and remoteAddr != ''">
				remoteAddr = #{remoteAddr, jdbcType=VARCHAR}, 
			</if>
			<if test="null != userAgent and userAgent != ''">
				userAgent = #{userAgent, jdbcType=VARCHAR}, 
			</if>
			<if test="null != deviceName and deviceName != ''">
				deviceName = #{deviceName, jdbcType=VARCHAR}, 
			</if>
			<if test="null != browserName and browserName != ''">
				browserName = #{browserName, jdbcType=VARCHAR}, 
			</if>
			<if test="null != logType">
				logType = #{logType, jdbcType=TINYINT}, 
			</if>
		</trim>
		WHERE logId = #{logId, jdbcType=BIGINT}
	</update>
	
	<!-- 根据主键物理删除数据 -->
	<delete id="deleteByKey" parameterType="java.lang.Long">
		DELETE FROM sys_log WHERE logId = #{logId, jdbcType=BIGINT}
	</delete>
	
	<!-- 根据主键查询 pojo -->
	<select id="getByKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_log 
		WHERE logId = #{logId, jdbcType=BIGINT}
	</select>
	
	<!-- 根据主键查询 pojo -->
	<select id="getPDByKey" parameterType="java.lang.Long" resultType="pd">
		SELECT <include refid="Base_Column_List"/> FROM sys_log 
		WHERE logId = #{logId, jdbcType=BIGINT}
	</select>
	
	<!-- 根据条件分页查询 pojo 列表 -->
	<select id="listPage" parameterType="page" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_log 
		WHERE 1 = 1 
		<if test="args != null">
			<if test="null != args.requestUri and args.requestUri != ''">
				AND requestUri = #{args.requestUri, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.requestMethod and args.requestMethod != ''">
				AND requestMethod = #{args.requestMethod, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.requestParams and args.requestParams != ''">
				AND requestParams = #{args.requestParams, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.exceptionInfo and args.exceptionInfo != ''">
				AND exceptionInfo = #{args.exceptionInfo, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.remoteAddr and args.remoteAddr != ''">
				AND remoteAddr = #{args.remoteAddr, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.userAgent and args.userAgent != ''">
				AND userAgent = #{args.userAgent, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.deviceName and args.deviceName != ''">
				AND deviceName = #{args.deviceName, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.browserName and args.browserName != ''">
				AND browserName = #{args.browserName, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.logType">
				AND logType = #{args.logType, jdbcType=TINYINT} 
			</if>
			<if test="null != args.addTime">
				AND addTime = #{args.addTime, jdbcType=TIMESTAMP} 
			</if>
			<if test="null != args.addUser">
				AND addUser = #{args.addUser, jdbcType=BIGINT} 
			</if>
		</if>
	</select>
	
	<!-- 根据条件查询 pojo 列表 -->
	<select id="listBy" parameterType="pd" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_log 
		WHERE 1 = 1 
		<if test="null != requestUri and requestUri != ''">
			AND requestUri = #{requestUri, jdbcType=VARCHAR} 
		</if>
		<if test="null != requestMethod and requestMethod != ''">
			AND requestMethod = #{requestMethod, jdbcType=VARCHAR} 
		</if>
		<if test="null != requestParams and requestParams != ''">
			AND requestParams = #{requestParams, jdbcType=VARCHAR} 
		</if>
		<if test="null != exceptionInfo and exceptionInfo != ''">
			AND exceptionInfo = #{exceptionInfo, jdbcType=VARCHAR} 
		</if>
		<if test="null != remoteAddr and remoteAddr != ''">
			AND remoteAddr = #{remoteAddr, jdbcType=VARCHAR} 
		</if>
		<if test="null != userAgent and userAgent != ''">
			AND userAgent = #{userAgent, jdbcType=VARCHAR} 
		</if>
		<if test="null != deviceName and deviceName != ''">
			AND deviceName = #{deviceName, jdbcType=VARCHAR} 
		</if>
		<if test="null != browserName and browserName != ''">
			AND browserName = #{browserName, jdbcType=VARCHAR} 
		</if>
		<if test="null != logType">
			AND logType = #{logType, jdbcType=TINYINT} 
		</if>
		<if test="null != addTime">
			AND addTime = #{addTime, jdbcType=TIMESTAMP} 
		</if>
		<if test="null != addUser">
			AND addUser = #{addUser, jdbcType=BIGINT} 
		</if>
	</select>
	
</mapper>