<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.d7c.springboot.common.daos.sys.BaseSysMenuDao">
    <!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="top.d7c.springboot.common.dos.sys.SysMenu">
		<id column="menuId" property="menuId" jdbcType="INTEGER"/>
		<result column="parentId" property="parentId" jdbcType="INTEGER"/>
		<result column="menuName" property="menuName" jdbcType="VARCHAR"/>
		<result column="permissions" property="permissions" jdbcType="VARCHAR"/>
		<result column="menuUrl" property="menuUrl" jdbcType="VARCHAR"/>
		<result column="icon" property="icon" jdbcType="VARCHAR"/>
		<result column="menuType" property="menuType" jdbcType="TINYINT"/>
		<result column="menuFunc" property="menuFunc" jdbcType="TINYINT"/>
		<result column="sort" property="sort" jdbcType="TINYINT"/>
		<result column="visible" property="visible" jdbcType="TINYINT"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="addUser" property="addUser" jdbcType="BIGINT"/>
		<result column="modifyTime" property="modifyTime" jdbcType="TIMESTAMP"/>
		<result column="modifyUser" property="modifyUser" jdbcType="BIGINT"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="checkValue" property="checkValue" jdbcType="INTEGER"/>
	</resultMap>
	
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		menuId, parentId, menuName, permissions, menuUrl, icon, menuType, menuFunc, sort, visible, remark, addTime, addUser, modifyTime, modifyUser, status, checkValue 
	</sql>
	
	<!-- 插入数据 -->
	<insert id="insert" parameterType="top.d7c.springboot.common.dos.sys.SysMenu">
		INSERT INTO sys_menu (
		<trim suffixOverrides=",">
			menuId, 
			parentId, 
			menuName, 
			permissions, 
			menuUrl, 
			icon, 
			menuType, 
			menuFunc, 
			sort, 
			visible, 
			remark, 
			addTime, 
			addUser, 
			status, 
			checkValue, 
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			#{menuId, jdbcType=INTEGER}, 
			#{parentId, jdbcType=INTEGER}, 
			#{menuName, jdbcType=VARCHAR}, 
			#{permissions, jdbcType=VARCHAR}, 
			#{menuUrl, jdbcType=VARCHAR}, 
			#{icon, jdbcType=VARCHAR}, 
			#{menuType, jdbcType=TINYINT}, 
			#{menuFunc, jdbcType=TINYINT}, 
			#{sort, jdbcType=TINYINT}, 
			#{visible, jdbcType=TINYINT}, 
			#{remark, jdbcType=VARCHAR}, 
			NOW(), 
			#{addUser, jdbcType=BIGINT}, 
			#{status, jdbcType=TINYINT}, 
			checkValue(), 
		</trim>)
	</insert>
	
	<!-- 批量插入接口 -->
	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO sys_menu (
			menuId, 
			parentId, 
			menuName, 
			permissions, 
			menuUrl, 
			icon, 
			menuType, 
			menuFunc, 
			sort, 
			visible, 
			remark, 
			addTime, 
			addUser, 
			status, 
			checkValue) VALUES 
    	<foreach collection="list" item="item" index="index" separator="," >
        	(#{item.menuId, jdbcType=INTEGER}, 
			#{item.parentId, jdbcType=INTEGER}, 
			#{item.menuName, jdbcType=VARCHAR}, 
			#{item.permissions, jdbcType=VARCHAR}, 
			#{item.menuUrl, jdbcType=VARCHAR}, 
			#{item.icon, jdbcType=VARCHAR}, 
			#{item.menuType, jdbcType=TINYINT}, 
			#{item.menuFunc, jdbcType=TINYINT}, 
			#{item.sort, jdbcType=TINYINT}, 
			#{item.visible, jdbcType=TINYINT}, 
			#{item.remark, jdbcType=VARCHAR}, 
			NOW(), 
			#{item.addUser, jdbcType=BIGINT}, 
			#{item.status, jdbcType=TINYINT}, 
			checkValue())
		</foreach>
	</insert>
	
	<!-- 更新全部字段 -->
	<update id="updateByKey" parameterType="top.d7c.springboot.common.dos.sys.SysMenu">
		UPDATE sys_menu SET 
			parentId = #{parentId, jdbcType=INTEGER}, 
			menuName = #{menuName, jdbcType=VARCHAR}, 
			permissions = #{item.permissions, jdbcType=VARCHAR}, 
			menuUrl = #{menuUrl, jdbcType=VARCHAR}, 
			icon = #{icon, jdbcType=VARCHAR}, 
			menuType = #{menuType, jdbcType=TINYINT}, 
			menuFunc = #{menuFunc, jdbcType=TINYINT}, 
			sort = #{sort, jdbcType=TINYINT}, 
			visible = #{visible, jdbcType=TINYINT}, 
			remark = #{remark, jdbcType=VARCHAR}, 
			modifyUser = #{modifyUser, jdbcType=BIGINT}, 
			status = #{status, jdbcType=TINYINT}, 
			checkValue = checkValue() 
		WHERE menuId = #{menuId, jdbcType=INTEGER} AND checkValue = #{checkValue, jdbcType=INTEGER}
	</update>
	
	<!-- 只更新不为 null 和 空字符串的字段 -->
	<update id="update" parameterType="top.d7c.springboot.common.dos.sys.SysMenu">
		UPDATE sys_menu 
		<trim prefix="set" suffixOverrides=",">
			checkValue = checkValue(), 
			<if test="null != parentId">
				parentId = #{parentId, jdbcType=INTEGER}, 
			</if>
			<if test="null != menuName and menuName != ''">
				menuName = #{menuName, jdbcType=VARCHAR}, 
			</if>
			<if test="null != permissions and permissions != ''">
				permissions = #{permissions, jdbcType=VARCHAR}, 
			</if>
			<if test="null != menuUrl and menuUrl != ''">
				menuUrl = #{menuUrl, jdbcType=VARCHAR}, 
			</if>
			<if test="null != icon and icon != ''">
				icon = #{icon, jdbcType=VARCHAR}, 
			</if>
			<if test="null != menuType">
				menuType = #{menuType, jdbcType=TINYINT}, 
			</if>
			<if test="null != menuFunc">
				menuFunc = #{menuFunc, jdbcType=TINYINT}, 
			</if>
			<if test="null != sort">
				sort = #{sort, jdbcType=TINYINT}, 
			</if>
			<if test="null != visible">
				visible = #{visible, jdbcType=TINYINT}, 
			</if>
			<if test="null != remark and remark != ''">
				remark = #{remark, jdbcType=VARCHAR}, 
			</if>
			<if test="null != modifyUser">
				modifyUser = #{modifyUser, jdbcType=BIGINT}, 
			</if>
			<if test="null != status">
				status = #{status, jdbcType=TINYINT}, 
			</if>
			<if test="null != checkValue">
				checkValue = #{checkValue, jdbcType=TINYINT}, 
			</if>
		</trim>
		WHERE menuId = #{menuId, jdbcType=INTEGER} AND checkValue = #{checkValue, jdbcType=INTEGER}
	</update>
	
	<!-- 根据主键物理删除数据 -->
	<delete id="deleteByKey" parameterType="java.lang.Integer">
		DELETE FROM sys_menu WHERE menuId = #{menuId, jdbcType=INTEGER}
	</delete>
	
	<!-- 根据主键查询 pojo -->
	<select id="getByKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_menu 
		WHERE menuId = #{menuId, jdbcType=INTEGER}
	</select>
	
	<!-- 根据主键查询 pojo -->
	<select id="getPDByKey" parameterType="java.lang.Integer" resultType="pd">
		SELECT <include refid="Base_Column_List"/> FROM sys_menu 
		WHERE menuId = #{menuId, jdbcType=INTEGER}
	</select>
	
	<!-- 根据条件分页查询 pojo 列表 -->
	<select id="listPage" parameterType="page" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_menu 
		WHERE 1 = 1 
		<if test="args != null">
			<if test="null != args.parentId">
				AND parentId = #{args.parentId, jdbcType=INTEGER} 
			</if>
			<if test="null != args.menuName and args.menuName != ''">
				AND menuName = #{args.menuName, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.permissions and args.permissions != ''">
				AND permissions = #{args.permissions, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.menuUrl and args.menuUrl != ''">
				AND menuUrl = #{args.menuUrl, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.icon and args.icon != ''">
				AND icon = #{args.icon, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.menuType">
				AND menuType = #{args.menuType, jdbcType=TINYINT} 
			</if>
			<if test="null != args.menuFunc">
				AND menuFunc = #{args.menuFunc, jdbcType=TINYINT} 
			</if>
			<if test="null != args.sort">
				AND sort = #{args.sort, jdbcType=TINYINT} 
			</if>
			<if test="null != args.visible">
				AND visible = #{args.visible, jdbcType=TINYINT} 
			</if>
			<if test="null != args.remark and args.remark != ''">
				AND remark = #{args.remark, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.addTime">
				AND addTime = #{args.addTime, jdbcType=TIMESTAMP} 
			</if>
			<if test="null != args.addUser">
				AND addUser = #{args.addUser, jdbcType=BIGINT} 
			</if>
			<if test="null != args.modifyTime">
				AND modifyTime = #{args.modifyTime, jdbcType=TIMESTAMP} 
			</if>
			<if test="null != args.modifyUser">
				AND modifyUser = #{args.modifyUser, jdbcType=BIGINT} 
			</if>
			<if test="null != args.status">
				AND status = #{args.status, jdbcType=TINYINT} 
			</if>
			<if test="null != args.checkValue">
				AND checkValue = #{args.checkValue, jdbcType=TINYINT} 
			</if>
		</if>
	</select>
	
	<!-- 根据条件查询 pojo 列表 -->
	<select id="listBy" parameterType="pd" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_menu 
		WHERE 1 = 1 
		<if test="null != parentId">
			AND parentId = #{parentId, jdbcType=INTEGER} 
		</if>
		<if test="null != menuName and menuName != ''">
			AND menuName = #{menuName, jdbcType=VARCHAR} 
		</if>
		<if test="null != permissions and permissions != ''">
			AND permissions = #{permissions, jdbcType=VARCHAR} 
		</if>
		<if test="null != menuUrl and menuUrl != ''">
			AND menuUrl = #{menuUrl, jdbcType=VARCHAR} 
		</if>
		<if test="null != icon and icon != ''">
			AND icon = #{icon, jdbcType=VARCHAR} 
		</if>
		<if test="null != menuType">
			AND menuType = #{menuType, jdbcType=TINYINT} 
		</if>
		<if test="null != menuFunc">
			AND menuFunc = #{menuFunc, jdbcType=TINYINT} 
		</if>
		<if test="null != sort">
			AND sort = #{sort, jdbcType=TINYINT} 
		</if>
		<if test="null != visible">
			AND visible = #{visible, jdbcType=TINYINT} 
		</if>
		<if test="null != remark and remark != ''">
			AND remark = #{remark, jdbcType=VARCHAR} 
		</if>
		<if test="null != addTime">
			AND addTime = #{addTime, jdbcType=TIMESTAMP} 
		</if>
		<if test="null != addUser">
			AND addUser = #{addUser, jdbcType=BIGINT} 
		</if>
		<if test="null != modifyTime">
			AND modifyTime = #{modifyTime, jdbcType=TIMESTAMP} 
		</if>
		<if test="null != modifyUser">
			AND modifyUser = #{modifyUser, jdbcType=BIGINT} 
		</if>
		<if test="null != status">
			AND status = #{status, jdbcType=TINYINT} 
		</if>
		<if test="null != checkValue">
			AND checkValue = #{checkValue, jdbcType=TINYINT} 
		</if>
	</select>
	
</mapper>