<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.d7c.springboot.common.daos.sys.BaseSysUserDao">
    <!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="top.d7c.springboot.common.dos.sys.SysUser">
		<id column="userId" property="userId" jdbcType="BIGINT"/>
		<result column="roleId" property="roleId" jdbcType="BIGINT"/>
		<result column="jobNumber" property="jobNumber" jdbcType="VARCHAR"/>
		<result column="userAccount" property="userAccount" jdbcType="VARCHAR"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
		<result column="passwordModifyTime" property="passwordModifyTime" jdbcType="TIMESTAMP"/>
		<result column="nickname" property="nickname" jdbcType="VARCHAR"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="birthday" property="birthday" jdbcType="VARCHAR"/>
		<result column="age" property="age" jdbcType="TINYINT"/>
		<result column="sex" property="sex" jdbcType="TINYINT"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="wxOpenid" property="wxOpenid" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="signature" property="signature" jdbcType="VARCHAR"/>
		<result column="lng" property="lng" jdbcType="DECIMAL"/>
		<result column="lat" property="lat" jdbcType="DECIMAL"/>
		<result column="userType" property="userType" jdbcType="TINYINT"/>
		<result column="orgId" property="orgId" jdbcType="BIGINT"/>
		<result column="administrator" property="administrator" jdbcType="TINYINT"/>
		<result column="loginStatus" property="loginStatus" jdbcType="TINYINT"/>
		<result column="loginTime" property="loginTime" jdbcType="TIMESTAMP"/>
		<result column="loginIp" property="loginIp" jdbcType="VARCHAR"/>
		<result column="freezeTime" property="freezeTime" jdbcType="TIMESTAMP"/>
		<result column="freezeCause" property="freezeCause" jdbcType="VARCHAR"/>
		<result column="securityQuestion1" property="securityQuestion1" jdbcType="VARCHAR"/>
		<result column="securityQuestionAnswer1" property="securityQuestionAnswer1" jdbcType="VARCHAR"/>
		<result column="securityQuestion2" property="securityQuestion2" jdbcType="VARCHAR"/>
		<result column="securityQuestionAnswer2" property="securityQuestionAnswer2" jdbcType="VARCHAR"/>
		<result column="securityQuestion3" property="securityQuestion3" jdbcType="VARCHAR"/>
		<result column="securityQuestionAnswer3" property="securityQuestionAnswer3" jdbcType="VARCHAR"/>
		<result column="securityModifyTime" property="securityModifyTime" jdbcType="TIMESTAMP"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="addUser" property="addUser" jdbcType="BIGINT"/>
		<result column="modifyTime" property="modifyTime" jdbcType="TIMESTAMP"/>
		<result column="modifyUser" property="modifyUser" jdbcType="BIGINT"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="checkValue" property="checkValue" jdbcType="INTEGER"/>
	</resultMap>
	
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		userId, roleId, jobNumber, userAccount, password, passwordModifyTime, nickname, avatar, birthday, age, sex, phone, wxOpenid, email, signature, lng, lat, userType, orgId, administrator, loginStatus, loginTime, loginIp, freezeTime, freezeCause, securityQuestion1, securityQuestionAnswer1, securityQuestion2, securityQuestionAnswer2, securityQuestion3, securityQuestionAnswer3, securityModifyTime, remark, addTime, addUser, modifyTime, modifyUser, status, checkValue 
	</sql>
	
	<!-- 插入数据 -->
	<insert id="insert" parameterType="top.d7c.springboot.common.dos.sys.SysUser">
		INSERT INTO sys_user (
		<trim suffixOverrides=",">
			userId, 
			roleId, 
			jobNumber, 
			userAccount, 
			password, 
			passwordModifyTime, 
			nickname, 
			avatar, 
			birthday, 
			age, 
			sex, 
			phone, 
			wxOpenid, 
			email, 
			signature, 
			lng, 
			lat, 
			userType, 
			orgId, 
			administrator, 
			loginStatus, 
			loginTime, 
			loginIp, 
			freezeTime, 
			freezeCause, 
			securityQuestion1, 
			securityQuestionAnswer1, 
			securityQuestion2, 
			securityQuestionAnswer2, 
			securityQuestion3, 
			securityQuestionAnswer3, 
			securityModifyTime, 
			remark, 
			addTime, 
			addUser, 
			status, 
			checkValue, 
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			#{userId, jdbcType=BIGINT}, 
			#{roleId, jdbcType=BIGINT}, 
			#{jobNumber, jdbcType=VARCHAR}, 
			#{userAccount, jdbcType=VARCHAR}, 
			#{password, jdbcType=VARCHAR}, 
			#{passwordModifyTime, jdbcType=TIMESTAMP}, 
			#{nickname, jdbcType=VARCHAR}, 
			#{avatar, jdbcType=VARCHAR}, 
			#{birthday, jdbcType=VARCHAR}, 
			#{age, jdbcType=TINYINT}, 
			#{sex, jdbcType=TINYINT}, 
			#{phone, jdbcType=VARCHAR}, 
			#{wxOpenid, jdbcType=VARCHAR}, 
			#{email, jdbcType=VARCHAR}, 
			#{signature, jdbcType=VARCHAR}, 
			#{lng, jdbcType=DECIMAL}, 
			#{lat, jdbcType=DECIMAL}, 
			#{userType, jdbcType=TINYINT}, 
			#{orgId, jdbcType=BIGINT}, 
			#{administrator, jdbcType=TINYINT}, 
			#{loginStatus, jdbcType=TINYINT}, 
			#{loginTime, jdbcType=TIMESTAMP}, 
			#{loginIp, jdbcType=VARCHAR}, 
			#{freezeTime, jdbcType=TIMESTAMP}, 
			#{freezeCause, jdbcType=VARCHAR}, 
			#{securityQuestion1, jdbcType=VARCHAR}, 
			#{securityQuestionAnswer1, jdbcType=VARCHAR}, 
			#{securityQuestion2, jdbcType=VARCHAR}, 
			#{securityQuestionAnswer2, jdbcType=VARCHAR}, 
			#{securityQuestion3, jdbcType=VARCHAR}, 
			#{securityQuestionAnswer3, jdbcType=VARCHAR}, 
			#{securityModifyTime, jdbcType=TIMESTAMP}, 
			#{remark, jdbcType=VARCHAR}, 
			NOW(), 
			#{addUser, jdbcType=BIGINT}, 
			#{status, jdbcType=TINYINT}, 
			checkValue(), 
		</trim>)
	</insert>
	
	<!-- 批量插入接口 -->
	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO sys_user (
			userId, 
			roleId, 
			jobNumber, 
			userAccount, 
			password, 
			passwordModifyTime, 
			nickname, 
			avatar, 
			birthday, 
			age, 
			sex, 
			phone, 
			wxOpenid, 
			email, 
			signature, 
			lng, 
			lat, 
			userType, 
			orgId, 
			administrator, 
			loginStatus, 
			loginTime, 
			loginIp, 
			freezeTime, 
			freezeCause, 
			securityQuestion1, 
			securityQuestionAnswer1, 
			securityQuestion2, 
			securityQuestionAnswer2, 
			securityQuestion3, 
			securityQuestionAnswer3, 
			securityModifyTime, 
			remark, 
			addTime, 
			addUser, 
			status, 
			checkValue) VALUES 
    	<foreach collection="list" item="item" index="index" separator="," >
        	(#{item.userId, jdbcType=BIGINT}, 
			#{item.roleId, jdbcType=BIGINT}, 
			#{item.jobNumber, jdbcType=VARCHAR}, 
			#{item.userAccount, jdbcType=VARCHAR}, 
			#{item.password, jdbcType=VARCHAR}, 
			#{item.passwordModifyTime, jdbcType=TIMESTAMP}, 
			#{item.nickname, jdbcType=VARCHAR}, 
			#{item.avatar, jdbcType=VARCHAR}, 
			#{item.birthday, jdbcType=VARCHAR}, 
			#{item.age, jdbcType=TINYINT}, 
			#{item.sex, jdbcType=TINYINT}, 
			#{item.phone, jdbcType=VARCHAR}, 
			#{item.wxOpenid, jdbcType=VARCHAR}, 
			#{item.email, jdbcType=VARCHAR}, 
			#{item.signature, jdbcType=VARCHAR}, 
			#{item.lng, jdbcType=DECIMAL}, 
			#{item.lat, jdbcType=DECIMAL}, 
			#{item.userType, jdbcType=TINYINT}, 
			#{item.orgId, jdbcType=BIGINT}, 
			#{item.administrator, jdbcType=TINYINT}, 
			#{item.loginStatus, jdbcType=TINYINT}, 
			#{item.loginTime, jdbcType=TIMESTAMP}, 
			#{item.loginIp, jdbcType=VARCHAR}, 
			#{item.freezeTime, jdbcType=TIMESTAMP}, 
			#{item.freezeCause, jdbcType=VARCHAR}, 
			#{item.securityQuestion1, jdbcType=VARCHAR}, 
			#{item.securityQuestionAnswer1, jdbcType=VARCHAR}, 
			#{item.securityQuestion2, jdbcType=VARCHAR}, 
			#{item.securityQuestionAnswer2, jdbcType=VARCHAR}, 
			#{item.securityQuestion3, jdbcType=VARCHAR}, 
			#{item.securityQuestionAnswer3, jdbcType=VARCHAR}, 
			#{item.securityModifyTime, jdbcType=TIMESTAMP}, 
			#{item.remark, jdbcType=VARCHAR}, 
			NOW(), 
			#{item.addUser, jdbcType=BIGINT}, 
			#{item.status, jdbcType=TINYINT}, 
			checkValue())
		</foreach>
	</insert>
	
	<!-- 更新全部字段 -->
	<update id="updateByKey" parameterType="top.d7c.springboot.common.dos.sys.SysUser">
		UPDATE sys_user SET 
			roleId = #{roleId, jdbcType=BIGINT}, 
			jobNumber = #{jobNumber, jdbcType=VARCHAR}, 
			userAccount = #{userAccount, jdbcType=VARCHAR}, 
			password = #{password, jdbcType=VARCHAR}, 
			passwordModifyTime = #{passwordModifyTime, jdbcType=TIMESTAMP}, 
			nickname = #{nickname, jdbcType=VARCHAR}, 
			avatar = #{avatar, jdbcType=VARCHAR}, 
			birthday = #{birthday, jdbcType=VARCHAR}, 
			age = #{age, jdbcType=TINYINT}, 
			sex = #{sex, jdbcType=TINYINT}, 
			phone = #{phone, jdbcType=VARCHAR}, 
			wxOpenid = #{wxOpenid, jdbcType=VARCHAR}, 
			email = #{email, jdbcType=VARCHAR}, 
			signature = #{signature, jdbcType=VARCHAR}, 
			lng = #{lng, jdbcType=DECIMAL}, 
			lat = #{lat, jdbcType=DECIMAL}, 
			userType = #{userType, jdbcType=TINYINT}, 
			orgId = #{orgId, jdbcType=BIGINT}, 
			administrator = #{administrator, jdbcType=TINYINT}, 
			loginStatus = #{loginStatus, jdbcType=TINYINT}, 
			loginTime = #{loginTime, jdbcType=TIMESTAMP}, 
			loginIp = #{loginIp, jdbcType=VARCHAR}, 
			freezeTime = #{freezeTime, jdbcType=TIMESTAMP}, 
			freezeCause = #{freezeCause, jdbcType=VARCHAR}, 
			securityQuestion1 = #{securityQuestion1, jdbcType=VARCHAR}, 
			securityQuestionAnswer1 = #{securityQuestionAnswer1, jdbcType=VARCHAR}, 
			securityQuestion2 = #{securityQuestion2, jdbcType=VARCHAR}, 
			securityQuestionAnswer2 = #{securityQuestionAnswer2, jdbcType=VARCHAR}, 
			securityQuestion3 = #{securityQuestion3, jdbcType=VARCHAR}, 
			securityQuestionAnswer3 = #{securityQuestionAnswer3, jdbcType=VARCHAR}, 
			securityModifyTime = #{securityModifyTime, jdbcType=TIMESTAMP}, 
			remark = #{remark, jdbcType=VARCHAR}, 
			modifyUser = #{modifyUser, jdbcType=BIGINT}, 
			status = #{status, jdbcType=TINYINT}, 
			checkValue = checkValue() 
		WHERE userId = #{userId, jdbcType=BIGINT} AND checkValue = #{checkValue, jdbcType=INTEGER}
	</update>
	
	<!-- 只更新不为 null 和 空字符串的字段 -->
	<update id="update" parameterType="top.d7c.springboot.common.dos.sys.SysUser">
		UPDATE sys_user 
		<trim prefix="set" suffixOverrides=",">
			checkValue = checkValue(), 
			<if test="null != roleId">
				roleId = #{roleId, jdbcType=BIGINT}, 
			</if>
			<if test="null != jobNumber and jobNumber != ''">
				jobNumber = #{jobNumber, jdbcType=VARCHAR}, 
			</if>
			<if test="null != userAccount and userAccount != ''">
				userAccount = #{userAccount, jdbcType=VARCHAR}, 
			</if>
			<if test="null != password and password != ''">
				password = #{password, jdbcType=VARCHAR}, 
			</if>
			<if test="null != passwordModifyTime">
				passwordModifyTime = #{passwordModifyTime, jdbcType=TIMESTAMP}, 
			</if>
			<if test="null != nickname and nickname != ''">
				nickname = #{nickname, jdbcType=VARCHAR}, 
			</if>
			<if test="null != avatar and avatar != ''">
				avatar = #{avatar, jdbcType=VARCHAR}, 
			</if>
			<if test="null != birthday and birthday != ''">
				birthday = #{birthday, jdbcType=VARCHAR}, 
			</if>
			<if test="null != age">
				age = #{age, jdbcType=TINYINT}, 
			</if>
			<if test="null != sex">
				sex = #{sex, jdbcType=TINYINT}, 
			</if>
			<if test="null != phone and phone != ''">
				phone = #{phone, jdbcType=VARCHAR}, 
			</if>
			<if test="null != wxOpenid and wxOpenid != ''">
				wxOpenid = #{wxOpenid, jdbcType=VARCHAR}, 
			</if>
			<if test="null != email and email != ''">
				email = #{email, jdbcType=VARCHAR}, 
			</if>
			<if test="null != signature and signature != ''">
				signature = #{signature, jdbcType=VARCHAR}, 
			</if>
			<if test="null != lng">
				lng = #{lng, jdbcType=DECIMAL}, 
			</if>
			<if test="null != lat">
				lat = #{lat, jdbcType=DECIMAL}, 
			</if>
			<if test="null != userType">
				userType = #{userType, jdbcType=TINYINT}, 
			</if>
			<if test="null != orgId">
				orgId = #{orgId, jdbcType=BIGINT}, 
			</if>
			<if test="null != administrator">
				administrator = #{administrator, jdbcType=TINYINT}, 
			</if>
			<if test="null != loginStatus">
				loginStatus = #{loginStatus, jdbcType=TINYINT}, 
			</if>
			<if test="null != loginTime">
				loginTime = #{loginTime, jdbcType=TIMESTAMP}, 
			</if>
			<if test="null != loginIp and loginIp != ''">
				loginIp = #{loginIp, jdbcType=VARCHAR}, 
			</if>
			<if test="null != freezeTime">
				freezeTime = #{freezeTime, jdbcType=TIMESTAMP}, 
			</if>
			<if test="null != freezeCause and freezeCause != ''">
				freezeCause = #{freezeCause, jdbcType=VARCHAR}, 
			</if>
			<if test="null != securityQuestion1 and securityQuestion1 != ''">
				securityQuestion1 = #{securityQuestion1, jdbcType=VARCHAR}, 
			</if>
			<if test="null != securityQuestionAnswer1 and securityQuestionAnswer1 != ''">
				securityQuestionAnswer1 = #{securityQuestionAnswer1, jdbcType=VARCHAR}, 
			</if>
			<if test="null != securityQuestion2 and securityQuestion2 != ''">
				securityQuestion2 = #{securityQuestion2, jdbcType=VARCHAR}, 
			</if>
			<if test="null != securityQuestionAnswer2 and securityQuestionAnswer2 != ''">
				securityQuestionAnswer2 = #{securityQuestionAnswer2, jdbcType=VARCHAR}, 
			</if>
			<if test="null != securityQuestion3 and securityQuestion3 != ''">
				securityQuestion3 = #{securityQuestion3, jdbcType=VARCHAR}, 
			</if>
			<if test="null != securityQuestionAnswer3 and securityQuestionAnswer3 != ''">
				securityQuestionAnswer3 = #{securityQuestionAnswer3, jdbcType=VARCHAR}, 
			</if>
			<if test="null != securityModifyTime">
				securityModifyTime = #{securityModifyTime, jdbcType=TIMESTAMP}, 
			</if>
			<if test="null != remark and remark != ''">
				remark = #{remark, jdbcType=VARCHAR}, 
			</if>
			<if test="null != modifyUser">
				modifyUser = #{modifyUser, jdbcType=BIGINT}, 
			</if>
			<if test="null != status">
				status = #{status, jdbcType=TINYINT}, 
			</if>
			<if test="null != checkValue">
				checkValue = #{checkValue, jdbcType=TINYINT}, 
			</if>
		</trim>
		WHERE userId = #{userId, jdbcType=BIGINT} AND checkValue = #{checkValue, jdbcType=INTEGER}
	</update>
	
	<!-- 根据主键物理删除数据 -->
	<delete id="deleteByKey" parameterType="java.lang.Long">
		DELETE FROM sys_user WHERE userId = #{userId, jdbcType=BIGINT}
	</delete>
	
	<!-- 根据主键查询 pojo -->
	<select id="getByKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_user 
		WHERE userId = #{userId, jdbcType=BIGINT}
	</select>
	
	<!-- 根据主键查询 pojo -->
	<select id="getPDByKey" parameterType="java.lang.Long" resultType="pd">
		SELECT <include refid="Base_Column_List"/> FROM sys_user 
		WHERE userId = #{userId, jdbcType=BIGINT}
	</select>
	
	<!-- 根据条件分页查询 pojo 列表 -->
	<select id="listPage" parameterType="page" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_user 
		WHERE 1 = 1 
		<if test="args != null">
			<if test="null != args.roleId">
				AND roleId = #{args.roleId, jdbcType=BIGINT} 
			</if>
			<if test="null != args.jobNumber and args.jobNumber != ''">
				AND jobNumber = #{args.jobNumber, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.userAccount and args.userAccount != ''">
				AND userAccount = #{args.userAccount, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.password and args.password != ''">
				AND password = #{args.password, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.passwordModifyTime">
				AND passwordModifyTime = #{args.passwordModifyTime, jdbcType=TIMESTAMP} 
			</if>
			<if test="null != args.nickname and args.nickname != ''">
				AND nickname = #{args.nickname, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.avatar and args.avatar != ''">
				AND avatar = #{args.avatar, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.birthday and args.birthday != ''">
				AND birthday = #{args.birthday, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.age">
				AND age = #{args.age, jdbcType=TINYINT} 
			</if>
			<if test="null != args.sex">
				AND sex = #{args.sex, jdbcType=TINYINT} 
			</if>
			<if test="null != args.phone and args.phone != ''">
				AND phone = #{args.phone, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.wxOpenid and args.wxOpenid != ''">
				AND wxOpenid = #{args.wxOpenid, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.email and args.email != ''">
				AND email = #{args.email, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.signature and args.signature != ''">
				AND signature = #{args.signature, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.lng">
				AND lng = #{args.lng, jdbcType=DECIMAL} 
			</if>
			<if test="null != args.lat">
				AND lat = #{args.lat, jdbcType=DECIMAL} 
			</if>
			<if test="null != args.userType">
				AND userType = #{args.userType, jdbcType=TINYINT} 
			</if>
			<if test="null != args.orgId">
				AND orgId = #{args.orgId, jdbcType=BIGINT} 
			</if>
			<if test="null != args.administrator">
				AND administrator = #{args.administrator, jdbcType=TINYINT} 
			</if>
			<if test="null != args.loginStatus">
				AND loginStatus = #{args.loginStatus, jdbcType=TINYINT} 
			</if>
			<if test="null != args.loginTime">
				AND loginTime = #{args.loginTime, jdbcType=TIMESTAMP} 
			</if>
			<if test="null != args.loginIp and args.loginIp != ''">
				AND loginIp = #{args.loginIp, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.freezeTime">
				AND freezeTime = #{args.freezeTime, jdbcType=TIMESTAMP} 
			</if>
			<if test="null != args.freezeCause and args.freezeCause != ''">
				AND freezeCause = #{args.freezeCause, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.securityQuestion1 and args.securityQuestion1 != ''">
				AND securityQuestion1 = #{args.securityQuestion1, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.securityQuestionAnswer1 and args.securityQuestionAnswer1 != ''">
				AND securityQuestionAnswer1 = #{args.securityQuestionAnswer1, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.securityQuestion2 and args.securityQuestion2 != ''">
				AND securityQuestion2 = #{args.securityQuestion2, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.securityQuestionAnswer2 and args.securityQuestionAnswer2 != ''">
				AND securityQuestionAnswer2 = #{args.securityQuestionAnswer2, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.securityQuestion3 and args.securityQuestion3 != ''">
				AND securityQuestion3 = #{args.securityQuestion3, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.securityQuestionAnswer3 and args.securityQuestionAnswer3 != ''">
				AND securityQuestionAnswer3 = #{args.securityQuestionAnswer3, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.securityModifyTime">
				AND securityModifyTime = #{args.securityModifyTime, jdbcType=TIMESTAMP} 
			</if>
			<if test="null != args.remark and args.remark != ''">
				AND remark = #{args.remark, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.addTime">
				AND addTime = #{args.addTime, jdbcType=TIMESTAMP} 
			</if>
			<if test="null != args.addUser">
				AND addUser = #{args.addUser, jdbcType=BIGINT} 
			</if>
			<if test="null != args.modifyTime">
				AND modifyTime = #{args.modifyTime, jdbcType=TIMESTAMP} 
			</if>
			<if test="null != args.modifyUser">
				AND modifyUser = #{args.modifyUser, jdbcType=BIGINT} 
			</if>
			<if test="null != args.status">
				AND status = #{args.status, jdbcType=TINYINT} 
			</if>
			<if test="null != args.checkValue">
				AND checkValue = #{args.checkValue, jdbcType=TINYINT} 
			</if>
		</if>
	</select>
	
	<!-- 根据条件查询 pojo 列表 -->
	<select id="listBy" parameterType="pd" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_user 
		WHERE 1 = 1 
		<if test="null != roleId">
			AND roleId = #{roleId, jdbcType=BIGINT} 
		</if>
		<if test="null != jobNumber and jobNumber != ''">
			AND jobNumber = #{jobNumber, jdbcType=VARCHAR} 
		</if>
		<if test="null != userAccount and userAccount != ''">
			AND userAccount = #{userAccount, jdbcType=VARCHAR} 
		</if>
		<if test="null != password and password != ''">
			AND password = #{password, jdbcType=VARCHAR} 
		</if>
		<if test="null != passwordModifyTime">
			AND passwordModifyTime = #{passwordModifyTime, jdbcType=TIMESTAMP} 
		</if>
		<if test="null != nickname and nickname != ''">
			AND nickname = #{nickname, jdbcType=VARCHAR} 
		</if>
		<if test="null != avatar and avatar != ''">
			AND avatar = #{avatar, jdbcType=VARCHAR} 
		</if>
		<if test="null != birthday and birthday != ''">
			AND birthday = #{birthday, jdbcType=VARCHAR} 
		</if>
		<if test="null != age">
			AND age = #{age, jdbcType=TINYINT} 
		</if>
		<if test="null != sex">
			AND sex = #{sex, jdbcType=TINYINT} 
		</if>
		<if test="null != phone and phone != ''">
			AND phone = #{phone, jdbcType=VARCHAR} 
		</if>
		<if test="null != wxOpenid and wxOpenid != ''">
			AND wxOpenid = #{wxOpenid, jdbcType=VARCHAR} 
		</if>
		<if test="null != email and email != ''">
			AND email = #{email, jdbcType=VARCHAR} 
		</if>
		<if test="null != signature and signature != ''">
			AND signature = #{signature, jdbcType=VARCHAR} 
		</if>
		<if test="null != lng">
			AND lng = #{lng, jdbcType=DECIMAL} 
		</if>
		<if test="null != lat">
			AND lat = #{lat, jdbcType=DECIMAL} 
		</if>
		<if test="null != userType">
			AND userType = #{userType, jdbcType=TINYINT} 
		</if>
		<if test="null != orgId">
			AND orgId = #{orgId, jdbcType=BIGINT} 
		</if>
		<if test="null != administrator">
			AND administrator = #{administrator, jdbcType=TINYINT} 
		</if>
		<if test="null != loginStatus">
			AND loginStatus = #{loginStatus, jdbcType=TINYINT} 
		</if>
		<if test="null != loginTime">
			AND loginTime = #{loginTime, jdbcType=TIMESTAMP} 
		</if>
		<if test="null != loginIp and loginIp != ''">
			AND loginIp = #{loginIp, jdbcType=VARCHAR} 
		</if>
		<if test="null != freezeTime">
			AND freezeTime = #{freezeTime, jdbcType=TIMESTAMP} 
		</if>
		<if test="null != freezeCause and freezeCause != ''">
			AND freezeCause = #{freezeCause, jdbcType=VARCHAR} 
		</if>
		<if test="null != securityQuestion1 and securityQuestion1 != ''">
			AND securityQuestion1 = #{securityQuestion1, jdbcType=VARCHAR} 
		</if>
		<if test="null != securityQuestionAnswer1 and securityQuestionAnswer1 != ''">
			AND securityQuestionAnswer1 = #{securityQuestionAnswer1, jdbcType=VARCHAR} 
		</if>
		<if test="null != securityQuestion2 and securityQuestion2 != ''">
			AND securityQuestion2 = #{securityQuestion2, jdbcType=VARCHAR} 
		</if>
		<if test="null != securityQuestionAnswer2 and securityQuestionAnswer2 != ''">
			AND securityQuestionAnswer2 = #{securityQuestionAnswer2, jdbcType=VARCHAR} 
		</if>
		<if test="null != securityQuestion3 and securityQuestion3 != ''">
			AND securityQuestion3 = #{securityQuestion3, jdbcType=VARCHAR} 
		</if>
		<if test="null != securityQuestionAnswer3 and securityQuestionAnswer3 != ''">
			AND securityQuestionAnswer3 = #{securityQuestionAnswer3, jdbcType=VARCHAR} 
		</if>
		<if test="null != securityModifyTime">
			AND securityModifyTime = #{securityModifyTime, jdbcType=TIMESTAMP} 
		</if>
		<if test="null != remark and remark != ''">
			AND remark = #{remark, jdbcType=VARCHAR} 
		</if>
		<if test="null != addTime">
			AND addTime = #{addTime, jdbcType=TIMESTAMP} 
		</if>
		<if test="null != addUser">
			AND addUser = #{addUser, jdbcType=BIGINT} 
		</if>
		<if test="null != modifyTime">
			AND modifyTime = #{modifyTime, jdbcType=TIMESTAMP} 
		</if>
		<if test="null != modifyUser">
			AND modifyUser = #{modifyUser, jdbcType=BIGINT} 
		</if>
		<if test="null != status">
			AND status = #{status, jdbcType=TINYINT} 
		</if>
		<if test="null != checkValue">
			AND checkValue = #{checkValue, jdbcType=TINYINT} 
		</if>
	</select>
	
</mapper>