<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.d7c.springboot.common.daos.sys.BaseSysDictDao">
    <!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="top.d7c.springboot.common.dos.sys.SysDict">
		<id column="dictId" property="dictId" jdbcType="BIGINT"/>
		<result column="parentId" property="parentId" jdbcType="BIGINT"/>
		<result column="dictType" property="dictType" jdbcType="VARCHAR"/>
		<result column="dictKey" property="dictKey" jdbcType="VARCHAR"/>
		<result column="dictCNValue" property="dictCNValue" jdbcType="VARCHAR"/>
		<result column="dictENValue" property="dictENValue" jdbcType="VARCHAR"/>
		<result column="sort" property="sort" jdbcType="TINYINT"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="addUser" property="addUser" jdbcType="BIGINT"/>
		<result column="modifyTime" property="modifyTime" jdbcType="TIMESTAMP"/>
		<result column="modifyUser" property="modifyUser" jdbcType="BIGINT"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="checkValue" property="checkValue" jdbcType="INTEGER"/>
	</resultMap>
	
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		dictId, parentId, dictType, dictKey, dictCNValue, dictENValue, sort, remark, addTime, addUser, modifyTime, modifyUser, status, checkValue 
	</sql>
	
	<!-- 插入数据 -->
	<insert id="insert" parameterType="top.d7c.springboot.common.dos.sys.SysDict">
		INSERT INTO sys_dict (
		<trim suffixOverrides=",">
			parentId, 
			dictType, 
			dictKey, 
			dictCNValue, 
			dictENValue, 
			sort, 
			remark, 
			addTime, 
			addUser, 
			status, 
			checkValue, 
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			#{parentId, jdbcType=BIGINT}, 
			#{dictType, jdbcType=VARCHAR}, 
			#{dictKey, jdbcType=VARCHAR}, 
			#{dictCNValue, jdbcType=VARCHAR}, 
			#{dictENValue, jdbcType=VARCHAR}, 
			#{sort, jdbcType=TINYINT}, 
			#{remark, jdbcType=VARCHAR}, 
			NOW(), 
			#{addUser, jdbcType=BIGINT}, 
			#{status, jdbcType=TINYINT}, 
			checkValue(), 
		</trim>)
	</insert>
	
	<!-- 批量插入接口 -->
	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO sys_dict (
			parentId, 
			dictType, 
			dictKey, 
			dictCNValue, 
			dictENValue, 
			sort, 
			remark, 
			addTime, 
			addUser, 
			status, 
			checkValue) VALUES 
    	<foreach collection="list" item="item" index="index" separator="," >
        	(#{item.parentId, jdbcType=BIGINT}, 
			#{item.dictType, jdbcType=VARCHAR}, 
			#{item.dictKey, jdbcType=VARCHAR}, 
			#{item.dictCNValue, jdbcType=VARCHAR}, 
			#{item.dictENValue, jdbcType=VARCHAR}, 
			#{item.sort, jdbcType=TINYINT}, 
			#{item.remark, jdbcType=VARCHAR}, 
			NOW(), 
			#{item.addUser, jdbcType=BIGINT}, 
			#{item.status, jdbcType=TINYINT}, 
			checkValue())
		</foreach>
	</insert>
	
	<!-- 更新全部字段 -->
	<update id="updateByKey" parameterType="top.d7c.springboot.common.dos.sys.SysDict">
		UPDATE sys_dict SET 
			parentId = #{parentId, jdbcType=BIGINT}, 
			dictType = #{dictType, jdbcType=VARCHAR}, 
			dictKey = #{dictKey, jdbcType=VARCHAR}, 
			dictCNValue = #{dictCNValue, jdbcType=VARCHAR}, 
			dictENValue = #{dictENValue, jdbcType=VARCHAR}, 
			sort = #{sort, jdbcType=TINYINT}, 
			remark = #{remark, jdbcType=VARCHAR}, 
			modifyUser = #{modifyUser, jdbcType=BIGINT}, 
			status = #{status, jdbcType=TINYINT}, 
			checkValue = checkValue() 
		WHERE dictId = #{dictId, jdbcType=BIGINT} AND checkValue = #{checkValue, jdbcType=INTEGER}
	</update>
	
	<!-- 只更新不为 null 和 空字符串的字段 -->
	<update id="update" parameterType="top.d7c.springboot.common.dos.sys.SysDict">
		UPDATE sys_dict 
		<trim prefix="set" suffixOverrides=",">
			checkValue = checkValue(), 
			<if test="null != parentId">
				parentId = #{parentId, jdbcType=BIGINT}, 
			</if>
			<if test="null != dictType and dictType != ''">
				dictType = #{dictType, jdbcType=VARCHAR}, 
			</if>
			<if test="null != dictKey and dictKey != ''">
				dictKey = #{dictKey, jdbcType=VARCHAR}, 
			</if>
			<if test="null != dictCNValue and dictCNValue != ''">
				dictCNValue = #{dictCNValue, jdbcType=VARCHAR}, 
			</if>
			<if test="null != dictENValue and dictENValue != ''">
				dictENValue = #{dictENValue, jdbcType=VARCHAR}, 
			</if>
			<if test="null != sort">
				sort = #{sort, jdbcType=TINYINT}, 
			</if>
			<if test="null != remark and remark != ''">
				remark = #{remark, jdbcType=VARCHAR}, 
			</if>
			<if test="null != modifyUser">
				modifyUser = #{modifyUser, jdbcType=BIGINT}, 
			</if>
			<if test="null != status">
				status = #{status, jdbcType=TINYINT}, 
			</if>
		</trim>
		WHERE dictId = #{dictId, jdbcType=BIGINT} AND checkValue = #{checkValue, jdbcType=INTEGER}
	</update>
	
	<!-- 根据主键物理删除数据 -->
	<delete id="deleteByKey" parameterType="java.lang.Long">
		DELETE FROM sys_dict WHERE dictId = #{dictId, jdbcType=BIGINT}
	</delete>
	
	<!-- 根据主键查询 pojo -->
	<select id="getByKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_dict 
		WHERE dictId = #{dictId, jdbcType=BIGINT}
	</select>
	
	<!-- 根据主键查询 pojo -->
	<select id="getPDByKey" parameterType="java.lang.Long" resultType="pd">
		SELECT <include refid="Base_Column_List"/> FROM sys_dict 
		WHERE dictId = #{dictId, jdbcType=BIGINT}
	</select>
	
	<!-- 根据条件分页查询 pojo 列表 -->
	<select id="listPage" parameterType="page" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_dict 
		WHERE 1 = 1 
		<if test="args != null">
			<if test="null != args.parentId">
				AND parentId = #{args.parentId, jdbcType=BIGINT} 
			</if>
			<if test="null != args.dictType and args.dictType != ''">
				AND dictType = #{args.dictType, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.dictKey and args.dictKey != ''">
				AND dictKey = #{args.dictKey, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.dictCNValue and args.dictCNValue != ''">
				AND dictCNValue = #{args.dictCNValue, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.dictENValue and args.dictENValue != ''">
				AND dictENValue = #{args.dictENValue, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.sort">
				AND sort = #{args.sort, jdbcType=TINYINT} 
			</if>
			<if test="null != args.remark and args.remark != ''">
				AND remark = #{args.remark, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.addTime">
				AND addTime = #{args.addTime, jdbcType=TIMESTAMP} 
			</if>
			<if test="null != args.addUser">
				AND addUser = #{args.addUser, jdbcType=BIGINT} 
			</if>
			<if test="null != args.modifyTime">
				AND modifyTime = #{args.modifyTime, jdbcType=TIMESTAMP} 
			</if>
			<if test="null != args.modifyUser">
				AND modifyUser = #{args.modifyUser, jdbcType=BIGINT} 
			</if>
			<if test="null != args.status">
				AND status = #{args.status, jdbcType=TINYINT} 
			</if>
			<if test="null != args.checkValue">
				AND checkValue = #{args.checkValue, jdbcType=TINYINT} 
			</if>
		</if>
	</select>
	
	<!-- 根据条件查询 pojo 列表 -->
	<select id="listBy" parameterType="pd" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_dict 
		WHERE 1 = 1 
		<if test="null != parentId">
			AND parentId = #{parentId, jdbcType=BIGINT} 
		</if>
		<if test="null != dictType and dictType != ''">
			AND dictType = #{dictType, jdbcType=VARCHAR} 
		</if>
		<if test="null != dictKey and dictKey != ''">
			AND dictKey = #{dictKey, jdbcType=VARCHAR} 
		</if>
		<if test="null != dictCNValue and dictCNValue != ''">
			AND dictCNValue = #{dictCNValue, jdbcType=VARCHAR} 
		</if>
		<if test="null != dictENValue and dictENValue != ''">
			AND dictENValue = #{dictENValue, jdbcType=VARCHAR} 
		</if>
		<if test="null != sort">
			AND sort = #{sort, jdbcType=TINYINT} 
		</if>
		<if test="null != remark and remark != ''">
			AND remark = #{remark, jdbcType=VARCHAR} 
		</if>
		<if test="null != addTime">
			AND addTime = #{addTime, jdbcType=TIMESTAMP} 
		</if>
		<if test="null != addUser">
			AND addUser = #{addUser, jdbcType=BIGINT} 
		</if>
		<if test="null != modifyTime">
			AND modifyTime = #{modifyTime, jdbcType=TIMESTAMP} 
		</if>
		<if test="null != modifyUser">
			AND modifyUser = #{modifyUser, jdbcType=BIGINT} 
		</if>
		<if test="null != status">
			AND status = #{status, jdbcType=TINYINT} 
		</if>
		<if test="null != checkValue">
			AND checkValue = #{checkValue, jdbcType=INTEGER} 
		</if>
	</select>
	
</mapper>