<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gnol.springboot.client.daos.sys.ExtSysOrgDao">
	<!-- resultMap引入：resultMap="com.gnol.springboot.common.daos.sys.BaseSysOrgDao.BaseResultMap" -->
	<!-- SQL 片段引入：<include refid="com.gnol.springboot.common.daos.sys.BaseSysOrgDao.Base_Column_List"/> -->
	<!-- zTree 菜单树 -->
	<select id="listZTreeFormTreeFrameByParentId" parameterType="java.lang.Long" resultType="com.gnol.springboot.client.dtos.tree.ZTree">
		SELECT orgId id, parentId pId, orgNameCN name, 0 checked, "treeFrame" target, "static/gnol/img/user.gif" icon, 
		CONCAT("sys/org/listAllZTreeByParentId.shtml?orgId=", orgId) url FROM sys_org 
		WHERE `status` = 1 
			<if test="null != _parameter">
				AND parentId = #{_parameter, jdbcType=BIGINT} 
			</if>
		ORDER BY sort ASC
	</select>
	
	<!-- 根据条件查询组织机构列表 -->
	<select id="listPDBy" parameterType="pd" resultType="pd">
		SELECT orgId, orgNameCN, orgNameEN, orgAlias, orgType, orgCode, orgAddress, level, sort, principal, postalcode, 
		phone, qq, weixin, email, parentId, checkValue FROM sys_org 
		<where>
			<if test="null != orgId">
				AND orgId = #{orgId, jdbcType=BIGINT} 
			</if>
			<if test="null != orgNameCN and orgNameCN != ''">
				AND orgNameCN = #{orgNameCN, jdbcType=VARCHAR} 
			</if>
			<if test="null != orgNameEN and orgNameEN != ''">
				AND orgNameEN = #{orgNameEN, jdbcType=VARCHAR} 
			</if>
			<if test="null != orgAlias and orgAlias != ''">
				AND orgAlias = #{orgAlias, jdbcType=VARCHAR} 
			</if>
			<if test="null != orgType">
				AND orgType = #{orgType, jdbcType=TINYINT} 
			</if>
			<if test="null != orgCode and orgCode != ''">
				AND orgCode = #{orgCode, jdbcType=VARCHAR} 
			</if>
			<if test="null != level">
				AND level = #{level, jdbcType=TINYINT} 
			</if>
			<if test="null != principal and principal != ''">
				AND principal = #{principal, jdbcType=VARCHAR} 
			</if>
			<if test="null != phone and phone != ''">
				AND phone = #{phone, jdbcType=VARCHAR} 
			</if>
			<if test="null != parentId">
				AND parentId = #{parentId, jdbcType=BIGINT} 
			</if>
			<if test="null != blocHQId">
				AND blocHQId = #{blocHQId, jdbcType=BIGINT} 
			</if>
			<if test="null != areaHQId">
				AND areaHQId = #{areaHQId, jdbcType=BIGINT} 
			</if>
			<if test="null != companyId">
				AND companyId = #{companyId, jdbcType=BIGINT} 
			</if>
			<if test="null != addUser">
				AND addUser = #{addUser, jdbcType=BIGINT} 
			</if>
			<if test="null != status">
				AND status = #{status, jdbcType=TINYINT} 
			</if>
			<if test="null != keywords and keywords != ''">
				AND (
					orgNameCN LIKE CONCAT('%', #{keywords, jdbcType=VARCHAR},'%') 
					OR 
					orgNameEN LIKE CONCAT('%', #{keywords, jdbcType=VARCHAR},'%') 
					OR
					orgAlias LIKE CONCAT('%', #{keywords, jdbcType=VARCHAR},'%') 
					)
			</if>
		</where>
		ORDER BY sort ASC 
	</select>
	
	<!-- 根据组织机构编号软删除组织机构 -->
	<update id="updateStatus" parameterType="pd">
		update sys_org set 
			status = #{status, jdbcType=TINYINT}, 
			modifyUser = #{modifyUser, jdbcType=BIGINT}, 
			checkValue = checkValue() 
		WHERE orgId = #{orgId, jdbcType=BIGINT} AND checkValue = #{checkValue, jdbcType=INTEGER} 
	</update>
	
	<!-- 判断数据库中组织机构代码是否已经存在并且不是当前组织机构 -->
	<select id="hasExist" parameterType="pd" resultType="int">
		SELECT COUNT(*) FROM sys_org 
		<where>
			<if test="null != orgId">
				AND orgId != #{orgId, jdbcType=BIGINT} 
			</if>
			<if test="null != orgCode and orgCode != ''">
				AND orgCode = #{orgCode, jdbcType=VARCHAR} 
			</if>
		</where>
	</select>
	
	<!-- 根据父节点查询是否有子组织机构 -->
	<select id="hasSon" parameterType="pd" resultType="int">
		SELECT COUNT(*) FROM sys_org 
		<where>
			<if test="null != parentId">
				AND parentId = #{parentId, jdbcType=BIGINT} 
			</if>
			<if test="null != status and status != ''">
				AND status = #{status, jdbcType=TINYINT} 
			</if>
		</where>
	</select>
	
	<!-- SelectTree 下拉树 -->
	<select id="listSelectTreeBy" parameterType="pd" resultType="com.gnol.springboot.client.dtos.tree.SelectTree">
		SELECT orgId id, parentId pId, orgNameCN name<!-- , parentId title, "static/gnol/img/user.gif" icon --> FROM sys_org
		WHERE `status` = 1 
			<if test="null != parentId">
				AND parentId = #{parentId, jdbcType=BIGINT} 
			</if>
		ORDER BY sort ASC
	</select>
	
	<!-- 根据用户编号查询该用户组织机构信息 -->
	<select id="getOrgInfoByUserId" parameterType="java.lang.Long" resultType="pd">
		SELECT a.orgId, b.parentId, b.level FROM sys_user a INNER JOIN sys_org b ON a.orgId = b.orgId 
		WHERE a.userId = #{userId, jdbcType=BIGINT} 
	</select>
	
	<!-- 根据组织机构编号查询组织机构信息 -->
	<select id="getOrgInfoByOrgId" parameterType="java.lang.Long" resultType="pd">
		SELECT a.orgId, a.orgNameCN, a.orgNameEN, a.parentId FROM sys_org a 
		WHERE a.orgId = #{orgId, jdbcType=BIGINT} 
	</select>
	
</mapper>