<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gnol.springboot.client.daos.sys.ExtSysTerritoryDao">
	<!-- resultMap引入：resultMap="com.gnol.springboot.common.daos.sys.BaseSysTerritoryDao.BaseResultMap" -->
	<!-- SQL 片段引入：<include refid="com.gnol.springboot.common.daos.sys.BaseSysTerritoryDao.Base_Column_List"/> -->
	<!-- zTree 菜单树 =======>start -->
	<sql id="zTree_Column_List">
		territoryId id, parentId pId, territoryNameCN name, 0 checked, 1 isParent, "treeFrame" target,
		CONCAT("sys/territory/listByParentIdPage.shtml?territoryId=", territoryId) url 
	</sql>
	<select id="listZTreeFormTreeFrameByParentId" parameterType="java.lang.Long" resultType="com.gnol.springboot.client.dtos.tree.ZTree">
		SELECT <include refid="zTree_Column_List" /> FROM sys_territory
		WHERE `status` = 1 
		<if test="null != _parameter">
			AND parentId = #{_parameter, jdbcType=BIGINT} 
		</if>
		ORDER BY sort ASC
	</select>
	<select id="listZTreeByParentId" parameterType="java.lang.Long" resultType="com.gnol.springboot.client.dtos.tree.ZTree">
		SELECT territoryId id, parentId pId, territoryNameCN name, 1 isParent FROM sys_territory
		WHERE `status` = 1 
		<if test="null != _parameter">
			AND parentId = #{_parameter, jdbcType=BIGINT} 
		</if>
		ORDER BY sort ASC
	</select>
	<!-- zTree 菜单树 =======>end -->
	
	<!-- 根据条件分页查询地域列表 -->
	<select id="listPDPage" parameterType="page" resultType="pd">
		SELECT territoryId, territoryNameCN, territoryNameEN, territoryAlias, territoryCode, level, sort, parentId, 
		stateId, stateNameCN, provinceId, provinceNameCN, cityId, cityNameCN, countyId, countyNameCN, streetId, streetNameCN, 
		status, checkValue FROM sys_territory 
		<where>
			<if test="args != null">
				<if test="null != args.territoryNameCN and args.territoryNameCN != ''">
					AND territoryNameCN = #{args.territoryNameCN, jdbcType=VARCHAR} 
				</if>
				<if test="null != args.territoryNameEN and args.territoryNameEN != ''">
					AND territoryNameEN = #{args.territoryNameEN, jdbcType=VARCHAR} 
				</if>
				<if test="null != args.territoryAlias and args.territoryAlias != ''">
					AND territoryAlias = #{args.territoryAlias, jdbcType=VARCHAR} 
				</if>
				<if test="null != args.territoryCode and args.territoryCode != ''">
					AND territoryCode = #{args.territoryCode, jdbcType=VARCHAR} 
				</if>
				<if test="null != args.level">
					AND level = #{args.level, jdbcType=TINYINT} 
				</if>
				<if test="null != args.parentId">
					AND parentId = #{args.parentId, jdbcType=BIGINT} 
				</if>
				<if test="null != args.stateId">
					AND stateId = #{args.stateId, jdbcType=BIGINT} 
				</if>
				<if test="null != args.stateNameCN and args.stateNameCN != ''">
					AND stateNameCN = #{args.stateNameCN, jdbcType=VARCHAR} 
				</if>
				<if test="null != args.provinceId">
					AND provinceId = #{args.provinceId, jdbcType=BIGINT} 
				</if>
				<if test="null != args.provinceNameCN and args.provinceNameCN != ''">
					AND provinceNameCN = #{args.provinceNameCN, jdbcType=VARCHAR} 
				</if>
				<if test="null != args.cityId">
					AND cityId = #{args.cityId, jdbcType=BIGINT} 
				</if>
				<if test="null != args.cityNameCN and args.cityNameCN != ''">
					AND cityNameCN = #{args.cityNameCN, jdbcType=VARCHAR} 
				</if>
				<if test="null != args.countyId">
					AND countyId = #{args.countyId, jdbcType=BIGINT} 
				</if>
				<if test="null != args.countyNameCN and args.countyNameCN != ''">
					AND countyNameCN = #{args.countyNameCN, jdbcType=VARCHAR} 
				</if>
				<if test="null != args.streetId">
					AND streetId = #{args.streetId, jdbcType=BIGINT} 
				</if>
				<if test="null != args.streetNameCN and args.streetNameCN != ''">
					AND streetNameCN = #{args.streetNameCN, jdbcType=VARCHAR} 
				</if>
				<if test="null != args.busId">
					AND busId = #{args.busId, jdbcType=BIGINT} 
				</if>
				<if test="null != args.status">
					AND status = #{args.status, jdbcType=TINYINT} 
				</if>
				<if test="null != args.keywords and args.keywords != ''">
					AND (
						territoryNameCN LIKE CONCAT('%', #{args.keywords, jdbcType=VARCHAR},'%') 
						OR 
						territoryNameEN LIKE CONCAT('%', #{args.keywords, jdbcType=VARCHAR},'%') 
						OR
						territoryAlias LIKE CONCAT('%', #{args.keywords, jdbcType=VARCHAR},'%') 
						)
				</if>
			</if>
		</where>
		ORDER BY sort ASC 
	</select>
	
	<!-- 根据地域编号软删除地域 -->
	<update id="updateStatus" parameterType="pd">
		update sys_territory set 
			status = #{status, jdbcType=TINYINT}, 
			modifyUser = #{modifyUser, jdbcType=BIGINT}, 
			checkValue = checkValue() 
		WHERE territoryId = #{territoryId, jdbcType=BIGINT} AND checkValue = #{checkValue, jdbcType=INTEGER} 
	</update>
	
	<!-- 判断数据库中地域代码是否已经存在并且不是当前地域 -->
	<select id="hasExist" parameterType="pd" resultType="int">
		SELECT COUNT(*) FROM sys_territory 
		<where>
			<if test="null != territoryId">
				AND territoryId != #{territoryId, jdbcType=BIGINT} 
			</if>
			<if test="null != territoryCode and territoryCode != ''">
				AND territoryCode = #{territoryCode, jdbcType=VARCHAR} 
			</if>
		</where>
	</select>
	
	<!-- 根据父节点查询是否有子节点 -->
	<select id="hasSon" parameterType="pd" resultType="int">
		SELECT COUNT(*) FROM sys_territory 
		<where>
			<if test="null != parentId">
				AND parentId = #{parentId, jdbcType=BIGINT} 
			</if>
			<if test="null != status and status != ''">
				AND status = #{status, jdbcType=TINYINT} 
			</if>
		</where>
	</select>
	
	<!-- 根据主键获取地域中文名称 -->
	<select id="getTerritoryNameCNById" parameterType="java.lang.Long" resultType="java.lang.String">
		SELECT territoryNameCN FROM sys_territory
		WHERE territoryId = #{territoryId, jdbcType=BIGINT} 
	</select>
	
</mapper>