<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d7c.springboot.common.daos.sys.BaseSysSessionDao">
    <!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.d7c.springboot.common.dos.sys.SysSession">
		<id column="userId" property="userId" jdbcType="BIGINT"/>
		<result column="sessionId" property="sessionId" jdbcType="VARCHAR"/>
		<result column="jobNumber" property="jobNumber" jdbcType="VARCHAR"/>
		<result column="userAccount" property="userAccount" jdbcType="VARCHAR"/>
		<result column="roleId" property="roleId" jdbcType="BIGINT"/>
		<result column="roleName" property="roleName" jdbcType="VARCHAR"/>
		<result column="menuQx" property="menuQx" jdbcType="VARCHAR"/>
		<result column="nickname" property="nickname" jdbcType="VARCHAR"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="sex" property="sex" jdbcType="TINYINT"/>
		<result column="birthday" property="birthday" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="userType" property="userType" jdbcType="TINYINT"/>
		<result column="administrator" property="administrator" jdbcType="TINYINT"/>
		<result column="orgId" property="orgId" jdbcType="BIGINT"/>
		<result column="blocHQId" property="blocHQId" jdbcType="BIGINT"/>
		<result column="blocHQName" property="blocHQName" jdbcType="VARCHAR"/>
		<result column="areaHQId" property="areaHQId" jdbcType="BIGINT"/>
		<result column="areaHQName" property="areaHQName" jdbcType="VARCHAR"/>
		<result column="companyId" property="companyId" jdbcType="BIGINT"/>
		<result column="companyName" property="companyName" jdbcType="VARCHAR"/>
		<result column="departmentId" property="departmentId" jdbcType="BIGINT"/>
		<result column="departmentName" property="departmentName" jdbcType="VARCHAR"/>
		<result column="loginStatus" property="loginStatus" jdbcType="TINYINT"/>
		<result column="loginTime" property="loginTime" jdbcType="TIMESTAMP"/>
		<result column="modifyTime" property="modifyTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		userId, sessionId, jobNumber, userAccount, roleId, roleName, menuQx, nickname, avatar, sex, birthday, phone, userType, administrator, orgId, blocHQId, blocHQName, areaHQId, areaHQName, companyId, companyName, departmentId, departmentName, loginStatus, loginTime, modifyTime 
	</sql>
	
	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.d7c.springboot.common.dos.sys.SysSession">
		INSERT INTO sys_session (
		<trim suffixOverrides=",">
			userId, 
			sessionId, 
			jobNumber, 
			userAccount, 
			roleId, 
			roleName, 
			menuQx, 
			nickname, 
			avatar, 
			sex, 
			birthday, 
			phone, 
			userType, 
			administrator, 
			orgId, 
			blocHQId, 
			blocHQName, 
			areaHQId, 
			areaHQName, 
			companyId, 
			companyName, 
			departmentId, 
			departmentName, 
			loginStatus, 
			loginTime, 
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			#{userId, jdbcType=BIGINT}, 
			#{sessionId, jdbcType=VARCHAR}, 
			#{jobNumber, jdbcType=VARCHAR}, 
			#{userAccount, jdbcType=VARCHAR}, 
			#{roleId, jdbcType=BIGINT}, 
			#{roleName, jdbcType=VARCHAR}, 
			#{menuQx, jdbcType=VARCHAR}, 
			#{nickname, jdbcType=VARCHAR}, 
			#{avatar, jdbcType=VARCHAR}, 
			#{sex, jdbcType=TINYINT}, 
			#{birthday, jdbcType=VARCHAR}, 
			#{phone, jdbcType=VARCHAR}, 
			#{userType, jdbcType=TINYINT}, 
			#{administrator, jdbcType=TINYINT}, 
			#{orgId, jdbcType=BIGINT}, 
			#{blocHQId, jdbcType=BIGINT}, 
			#{blocHQName, jdbcType=VARCHAR}, 
			#{areaHQId, jdbcType=BIGINT}, 
			#{areaHQName, jdbcType=VARCHAR}, 
			#{companyId, jdbcType=BIGINT}, 
			#{companyName, jdbcType=VARCHAR}, 
			#{departmentId, jdbcType=BIGINT}, 
			#{departmentName, jdbcType=VARCHAR}, 
			#{loginStatus, jdbcType=TINYINT}, 
			#{loginTime, jdbcType=TIMESTAMP}, 
		</trim>)
	</insert>
	
	<!-- 批量插入接口 -->
	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO sys_session (
			userId, 
			sessionId, 
			jobNumber, 
			userAccount, 
			roleId, 
			roleName, 
			menuQx, 
			nickname, 
			avatar, 
			sex, 
			birthday, 
			phone, 
			userType, 
			administrator, 
			orgId, 
			blocHQId, 
			blocHQName, 
			areaHQId, 
			areaHQName, 
			companyId, 
			companyName, 
			departmentId, 
			departmentName, 
			loginStatus, 
			loginTime) VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.userId, jdbcType=BIGINT}, 
			#{item.sessionId, jdbcType=VARCHAR}, 
			#{item.jobNumber, jdbcType=VARCHAR}, 
			#{item.userAccount, jdbcType=VARCHAR}, 
			#{item.roleId, jdbcType=BIGINT}, 
			#{item.roleName, jdbcType=VARCHAR}, 
			#{item.menuQx, jdbcType=VARCHAR}, 
			#{item.nickname, jdbcType=VARCHAR}, 
			#{item.avatar, jdbcType=VARCHAR}, 
			#{item.sex, jdbcType=TINYINT}, 
			#{item.birthday, jdbcType=VARCHAR}, 
			#{item.phone, jdbcType=VARCHAR}, 
			#{item.userType, jdbcType=TINYINT}, 
			#{item.administrator, jdbcType=TINYINT}, 
			#{item.orgId, jdbcType=BIGINT}, 
			#{item.blocHQId, jdbcType=BIGINT}, 
			#{item.blocHQName, jdbcType=VARCHAR}, 
			#{item.areaHQId, jdbcType=BIGINT}, 
			#{item.areaHQName, jdbcType=VARCHAR}, 
			#{item.companyId, jdbcType=BIGINT}, 
			#{item.companyName, jdbcType=VARCHAR}, 
			#{item.departmentId, jdbcType=BIGINT}, 
			#{item.departmentName, jdbcType=VARCHAR}, 
			#{item.loginStatus, jdbcType=TINYINT}, 
			#{item.loginTime, jdbcType=TIMESTAMP}, )
		</foreach>
	</insert>
	
	<!-- 更新全部字段 -->
	<update id="updateByKey" parameterType="com.d7c.springboot.common.dos.sys.SysSession">
		UPDATE sys_session SET 
			sessionId = #{sessionId, jdbcType=VARCHAR}, 
			jobNumber = #{jobNumber, jdbcType=VARCHAR}, 
			userAccount = #{userAccount, jdbcType=VARCHAR}, 
			roleId = #{roleId, jdbcType=BIGINT}, 
			roleName = #{roleName, jdbcType=VARCHAR}, 
			menuQx = #{menuQx, jdbcType=VARCHAR}, 
			nickname = #{nickname, jdbcType=VARCHAR}, 
			avatar = #{avatar, jdbcType=VARCHAR}, 
			sex = #{sex, jdbcType=TINYINT}, 
			birthday = #{birthday, jdbcType=VARCHAR}, 
			phone = #{phone, jdbcType=VARCHAR}, 
			userType = #{userType, jdbcType=TINYINT}, 
			administrator = #{administrator, jdbcType=TINYINT}, 
			orgId = #{orgId, jdbcType=BIGINT}, 
			blocHQId = #{blocHQId, jdbcType=BIGINT}, 
			blocHQName = #{blocHQName, jdbcType=VARCHAR}, 
			areaHQId = #{areaHQId, jdbcType=BIGINT}, 
			areaHQName = #{areaHQName, jdbcType=VARCHAR}, 
			companyId = #{companyId, jdbcType=BIGINT}, 
			companyName = #{companyName, jdbcType=VARCHAR}, 
			departmentId = #{departmentId, jdbcType=BIGINT}, 
			departmentName = #{departmentName, jdbcType=VARCHAR}, 
			loginStatus = #{loginStatus, jdbcType=TINYINT}, 
			loginTime = #{loginTime, jdbcType=TIMESTAMP}, 
		WHERE userId = #{userId, jdbcType=BIGINT} 
	</update>
	
	<!-- 只更新不为 null 和 空字符串的字段 -->
	<update id="update" parameterType="com.d7c.springboot.common.dos.sys.SysSession">
		UPDATE sys_session 
		<trim prefix="set" suffixOverrides=",">
			<if test="null != sessionId and sessionId != ''">
				sessionId = #{sessionId, jdbcType=VARCHAR}, 
			</if>
			<if test="null != jobNumber and jobNumber != ''">
				jobNumber = #{jobNumber, jdbcType=VARCHAR}, 
			</if>
			<if test="null != userAccount and userAccount != ''">
				userAccount = #{userAccount, jdbcType=VARCHAR}, 
			</if>
			<if test="null != roleId">
				roleId = #{roleId, jdbcType=BIGINT}, 
			</if>
			<if test="null != roleName and roleName != ''">
				roleName = #{roleName, jdbcType=VARCHAR}, 
			</if>
			<if test="null != menuQx and menuQx != ''">
				menuQx = #{menuQx, jdbcType=VARCHAR}, 
			</if>
			<if test="null != nickname and nickname != ''">
				nickname = #{nickname, jdbcType=VARCHAR}, 
			</if>
			<if test="null != avatar and avatar != ''">
				avatar = #{avatar, jdbcType=VARCHAR}, 
			</if>
			<if test="null != sex">
				sex = #{sex, jdbcType=TINYINT}, 
			</if>
			<if test="null != birthday and birthday != ''">
				birthday = #{birthday, jdbcType=VARCHAR}, 
			</if>
			<if test="null != phone and phone != ''">
				phone = #{phone, jdbcType=VARCHAR}, 
			</if>
			<if test="null != userType">
				userType = #{userType, jdbcType=TINYINT}, 
			</if>
			<if test="null != administrator">
				administrator = #{administrator, jdbcType=TINYINT}, 
			</if>
			<if test="null != orgId">
				orgId = #{orgId, jdbcType=BIGINT}, 
			</if>
			<if test="null != blocHQId">
				blocHQId = #{blocHQId, jdbcType=BIGINT}, 
			</if>
			<if test="null != blocHQName and blocHQName != ''">
				blocHQName = #{blocHQName, jdbcType=VARCHAR}, 
			</if>
			<if test="null != areaHQId">
				areaHQId = #{areaHQId, jdbcType=BIGINT}, 
			</if>
			<if test="null != areaHQName and areaHQName != ''">
				areaHQName = #{areaHQName, jdbcType=VARCHAR}, 
			</if>
			<if test="null != companyId">
				companyId = #{companyId, jdbcType=BIGINT}, 
			</if>
			<if test="null != companyName and companyName != ''">
				companyName = #{companyName, jdbcType=VARCHAR}, 
			</if>
			<if test="null != departmentId">
				departmentId = #{departmentId, jdbcType=BIGINT}, 
			</if>
			<if test="null != departmentName and departmentName != ''">
				departmentName = #{departmentName, jdbcType=VARCHAR}, 
			</if>
			<if test="null != loginStatus">
				loginStatus = #{loginStatus, jdbcType=TINYINT}, 
			</if>
			<if test="null != loginTime">
				loginTime = #{loginTime, jdbcType=TIMESTAMP}, 
			</if>
		</trim>
		WHERE userId = #{userId, jdbcType=BIGINT} 
	</update>
	
	<!-- 根据主键物理删除数据 -->
	<delete id="deleteByKey" parameterType="java.lang.Long">
		DELETE FROM sys_session WHERE userId = #{userId, jdbcType=BIGINT}
	</delete>
	
	<!-- 根据主键查询 pojo -->
	<select id="getByKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_session 
		WHERE userId = #{userId, jdbcType=BIGINT}
	</select>
	
	<!-- 根据主键查询 pojo -->
	<select id="getPDByKey" parameterType="java.lang.Long" resultType="pd">
		SELECT <include refid="Base_Column_List"/> FROM sys_session 
		WHERE userId = #{userId, jdbcType=BIGINT}
	</select>
	
	<!-- 根据条件分页查询 pojo 列表 -->
	<select id="listPage" parameterType="page" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_session 
		WHERE 1 = 1 
		<if test="args != null">
			<if test="null != args.sessionId and args.sessionId != ''">
				AND sessionId = #{args.sessionId, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.jobNumber and args.jobNumber != ''">
				AND jobNumber = #{args.jobNumber, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.userAccount and args.userAccount != ''">
				AND userAccount = #{args.userAccount, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.roleId">
				AND roleId = #{args.roleId, jdbcType=BIGINT} 
			</if>
			<if test="null != args.roleName and args.roleName != ''">
				AND roleName = #{args.roleName, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.menuQx and args.menuQx != ''">
				AND menuQx = #{args.menuQx, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.nickname and args.nickname != ''">
				AND nickname = #{args.nickname, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.avatar and args.avatar != ''">
				AND avatar = #{args.avatar, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.sex">
				AND sex = #{args.sex, jdbcType=TINYINT} 
			</if>
			<if test="null != args.birthday and args.birthday != ''">
				AND birthday = #{args.birthday, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.phone and args.phone != ''">
				AND phone = #{args.phone, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.userType">
				AND userType = #{args.userType, jdbcType=TINYINT} 
			</if>
			<if test="null != args.administrator">
				AND administrator = #{args.administrator, jdbcType=TINYINT} 
			</if>
			<if test="null != args.orgId">
				AND orgId = #{args.orgId, jdbcType=BIGINT} 
			</if>
			<if test="null != args.blocHQId">
				AND blocHQId = #{args.blocHQId, jdbcType=BIGINT} 
			</if>
			<if test="null != args.blocHQName and args.blocHQName != ''">
				AND blocHQName = #{args.blocHQName, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.areaHQId">
				AND areaHQId = #{args.areaHQId, jdbcType=BIGINT} 
			</if>
			<if test="null != args.areaHQName and args.areaHQName != ''">
				AND areaHQName = #{args.areaHQName, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.companyId">
				AND companyId = #{args.companyId, jdbcType=BIGINT} 
			</if>
			<if test="null != args.companyName and args.companyName != ''">
				AND companyName = #{args.companyName, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.departmentId">
				AND departmentId = #{args.departmentId, jdbcType=BIGINT} 
			</if>
			<if test="null != args.departmentName and args.departmentName != ''">
				AND departmentName = #{args.departmentName, jdbcType=VARCHAR} 
			</if>
			<if test="null != args.loginStatus">
				AND loginStatus = #{args.loginStatus, jdbcType=TINYINT} 
			</if>
			<if test="null != args.loginTime">
				AND loginTime = #{args.loginTime, jdbcType=TIMESTAMP} 
			</if>
			<if test="null != args.modifyTime">
				AND modifyTime = #{args.modifyTime, jdbcType=TIMESTAMP} 
			</if>
		</if>
	</select>
	
	<!-- 根据条件查询 pojo 列表 -->
	<select id="listBy" parameterType="pd" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sys_session 
		WHERE 1 = 1 
		<if test="null != sessionId and sessionId != ''">
			AND sessionId = #{sessionId, jdbcType=VARCHAR} 
		</if>
		<if test="null != jobNumber and jobNumber != ''">
			AND jobNumber = #{jobNumber, jdbcType=VARCHAR} 
		</if>
		<if test="null != userAccount and userAccount != ''">
			AND userAccount = #{userAccount, jdbcType=VARCHAR} 
		</if>
		<if test="null != roleId">
			AND roleId = #{roleId, jdbcType=BIGINT} 
		</if>
		<if test="null != roleName and roleName != ''">
			AND roleName = #{roleName, jdbcType=VARCHAR} 
		</if>
		<if test="null != menuQx and menuQx != ''">
			AND menuQx = #{menuQx, jdbcType=VARCHAR} 
		</if>
		<if test="null != nickname and nickname != ''">
			AND nickname = #{nickname, jdbcType=VARCHAR} 
		</if>
		<if test="null != avatar and avatar != ''">
			AND avatar = #{avatar, jdbcType=VARCHAR} 
		</if>
		<if test="null != sex">
			AND sex = #{sex, jdbcType=TINYINT} 
		</if>
		<if test="null != birthday and birthday != ''">
			AND birthday = #{birthday, jdbcType=VARCHAR} 
		</if>
		<if test="null != phone and phone != ''">
			AND phone = #{phone, jdbcType=VARCHAR} 
		</if>
		<if test="null != userType">
			AND userType = #{userType, jdbcType=TINYINT} 
		</if>
		<if test="null != administrator">
			AND administrator = #{administrator, jdbcType=TINYINT} 
		</if>
		<if test="null != orgId">
			AND orgId = #{orgId, jdbcType=BIGINT} 
		</if>
		<if test="null != blocHQId">
			AND blocHQId = #{blocHQId, jdbcType=BIGINT} 
		</if>
		<if test="null != blocHQName and blocHQName != ''">
			AND blocHQName = #{blocHQName, jdbcType=VARCHAR} 
		</if>
		<if test="null != areaHQId">
			AND areaHQId = #{areaHQId, jdbcType=BIGINT} 
		</if>
		<if test="null != areaHQName and areaHQName != ''">
			AND areaHQName = #{areaHQName, jdbcType=VARCHAR} 
		</if>
		<if test="null != companyId">
			AND companyId = #{companyId, jdbcType=BIGINT} 
		</if>
		<if test="null != companyName and companyName != ''">
			AND companyName = #{companyName, jdbcType=VARCHAR} 
		</if>
		<if test="null != departmentId">
			AND departmentId = #{departmentId, jdbcType=BIGINT} 
		</if>
		<if test="null != departmentName and departmentName != ''">
			AND departmentName = #{departmentName, jdbcType=VARCHAR} 
		</if>
		<if test="null != loginStatus">
			AND loginStatus = #{loginStatus, jdbcType=TINYINT} 
		</if>
		<if test="null != loginTime">
			AND loginTime = #{loginTime, jdbcType=TIMESTAMP} 
		</if>
		<if test="null != modifyTime">
			AND modifyTime = #{modifyTime, jdbcType=TIMESTAMP} 
		</if>
	</select>
	
</mapper>