<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d7c.springboot.common.daos.sys.ExtSysIdDao">
	<!-- resultMap引入：resultMap="com.d7c.springboot.common.daos.sys.BaseSysIdDao.BaseResultMap" -->
	<!-- SQL 片段引入：<include refid="com.d7c.springboot.common.daos.sys.BaseSysIdDao.Base_Column_List"/> -->
	
	<!-- 根据主键查询 pojo 并悲观加锁 -->
	<select id="getByKeyForUpdate" parameterType="java.lang.String" resultMap="com.d7c.springboot.common.daos.sys.BaseSysIdDao.BaseResultMap">
		SELECT idKey, startValue, endValue, perNum FROM sys_id 
		WHERE idKey = #{idKey, jdbcType=VARCHAR} FOR UPDATE 
	</select>
	
</mapper>