<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<title>d7c 系统管理平台</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes,minimum-scale=0.4,initial-scale=0.8" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" href="/static/css/font.css">
	<link rel="stylesheet" href="/static/css/xadmin.css">
</head>
<body>
	<div class="layui-fluid">
	    <div class="layui-row layui-col-space15">
	        <div class="layui-col-md12">
	            <div class="layui-card">
	                <div class="layui-card-body ">
	                    <form class="layui-form layui-col-space5">
	                        <div class="layui-inline layui-show-xs-block">
	                            <input class="layui-input" autocomplete="off" placeholder="开始日" name="queryStartTime" id="queryStartTime"></div>
	                        <div class="layui-inline layui-show-xs-block">
	                            <input class="layui-input" autocomplete="off" placeholder="截止日" name="queryEndTime" id="queryEndTime"></div>
	                        <div class="layui-inline layui-show-xs-block">
	                            <input type="text" name="keywords" placeholder="请输入关键词" autocomplete="off" class="layui-input"></div>
	                        <div class="layui-inline layui-show-xs-block">
	                            <button class="layui-btn" lay-submit="" lay-filter="searchs"><i class="layui-icon">&#xe615;</i></button>
	                            <button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon">&#x1006;</i></button>
	                        </div>
	                    </form>
	                </div>
	                <div class="layui-card-body ">
	                    <table class="layui-table" lay-data="{url:'/sys/user/listPDPage', page:true, id:'table-id', toolbar: '#table-toolbar'}" lay-filter="table-id">
	                        <thead>
	                            <tr>
	                                <th lay-data="{type:'checkbox'}">ID</th>
	                                <th lay-data="{type:'numbers', width:40, align:'center'}">序号</th>
	                                <th lay-data="{field:'userId', width:80, sort: true, align:'center'}">ID</th>
	                                <th lay-data="{field:'jobNumber', width:120, sort: true, align:'center'}">工号</th>
	                                <th lay-data="{field:'userAccount', minWidth: 90, align:'center'}">用户账号</th>
	                                <th lay-data="{field:'nickname', minWidth: 100, align:'center'}">昵称</th>
	                                <th lay-data="{field:'age', width: 80, sort: true, align:'center', templet: function (d) {return d.age + '岁'}}">年龄</th>
	                                <th lay-data="{field:'sex', width: 60, align:'center', templet: function (d) {return d.sex == 1 ? '男' : '女'}}">性别</th>
	                                <th lay-data="{field:'phone', minWidth: 100, align:'center'}">手机号</th>
	                                <th lay-data="{field:'wxOpenid', width: 120, align:'center'}">微信号</th>
	                                <th lay-data="{field:'email', minWidth: 100, align:'center', templet: function (d) {return '<em>' + d.email + '</em>'}}">邮箱</th>
	                                <th lay-data="{field:'userType', width: 110, align:'center', templet: '#userTypeTpl'}">用户类别</th>
	                                <th lay-data="{field:'status', width: 80, align:'center', templet: function (d) {return d.status == 1 ? '正常' : d.status == 2 ? '冻结' : '删除'}}">用户状态</th>
	                                <th lay-data="{field:'loginTime', width: 150, align:'center', templet: function (d) {return (d.loginTime == undefined || d.loginTime == '' || d.loginTime == null) ? '' : layui.util.toDateString(d.loginTime, 'yyyy-MM-dd HH:mm:ss');}}">最近登录时间</th>
	                                <th lay-data="{field:'loginIp', width: 90, align:'center'}">最近登录地址</th>
	                                <th lay-data="{type:'normal', width: 120, align:'center', templet: '#table-row-oper'}">操作</th>
	                            </tr>
	                        </thead>
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<script type="text/html" id="userTypeTpl">
		{{# if(d.userType == 1){ }}
			<span style="color: #F581B1;">系统用户</span>
		{{#  } else if (d.userType == 10){ }}
			<span style="color: #F581B1;">地域用户</span>
		{{#  } else if (d.userType == 20){ }}
			<span style="color: #F581B1;">组织机构用户</span>
		{{#  } else if (d.userType == 30){ }}
			<span style="color: #F581B1;">会员用户</span>
		{{#  } else if (d.userType == 40){ }}
			<span style="color: #F581B1;">访客</span>
		{{#  } else if (d.userType == 50){ }}
			<span style="color: #F581B1;">微信用户</span>
		{{#  } else if (d.userType == 51){ }}
			<span style="color: #F581B1;">微信小程序用户</span>
		{{#  } else if (d.userType == 60){ }}
			<span style="color: #F581B1;">支付宝用户</span>
		{{#  } else if (d.userType == 61){ }}
			<span style="color: #F581B1;">支付宝小程序用户</span>
		{{#  } else { }}
			<span style="color: #F581B1;">错误用户类型</span>
		{{#  } }}
	</script>
	<script type="text/html" id="table-row-oper">
		<a title="查看" sec:authorize="hasRole('sys_user:info')" onclick="xadmin.open('查看', '/sys/user/info?userId=' + {{ d.userId }}, 800, 500)" href="javascript:;"><i class="layui-icon">&#xe63c;</i></a>
		<a title="编辑" sec:authorize="hasRole('sys_user:goEdit')" onclick="xadmin.open('编辑系统用户', '/sys/user/goEdit?userId=' + {{ d.userId }}, 800, 500)" href="javascript:;"><i class="layui-icon">&#xe642;</i></a>
        <a lay-event="del" sec:authorize="hasRole('sys_user:del')" onclick="del(this, '{{ d.nickname }}', '{{ d.userId }}')" href="javascript:;"><i class="layui-icon">&#xe640;</i></a>
	</script>
	<script type="text/html" id="table-toolbar">
		<div class = "layui-btn-container">
            <button class="layui-btn layui-btn-sm" sec:authorize="hasRole('sys_user:goAdd')" onclick="xadmin.open('新增系统用户','/sys/user/goAdd', 800, 500)">新增</button>
            <button class="layui-btn layui-btn-sm" lay-event="batchDel" sec:authorize="hasRole('sys_user:batchDel')">批量删除</button>
        </div>
    </script>
	<script type="text/javascript" src="/static/lib/layui/layui.js" charset="UTF-8"></script>
	<script type="text/javascript" src="/static/js/xadmin.js"></script>
	<script type="text/javascript" src="/static/js/d7c_util.js"></script>
	<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
		<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
		<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script type="text/javascript">
		layui.extend({
		    'request': '/static/lib/layui/lay/modules/request' // 扩展模块
		}).use(['layer', 'request', 'table', 'laydate', 'form'], function() {
		    var layer = layui.layer, $ = layui.jquery, request = layui.request, table = layui.table, laydate = layui.laydate, form = layui.form;
		    // 执行一个 laydate 实例
            laydate.render({
                elem: '#queryStartTime' // 指定元素
            });
            // 执行一个 laydate 实例
            laydate.render({
                elem: '#queryEndTime'
            });
            
            // 搜索
            form.on('submit(searchs)', function(data) {
                table.reload('table-id', {
                    where: data.field,
                    page: {
                        curr: 1
                    }
                });
                return false;
            });
            
            // 头部工具栏监听事件
            table.on('toolbar(table-id)', function(obj) {
                switch (obj.event) {
                    case 'batchDel':
                        var data = table.checkStatus(obj.config.id).data;
                        if (data.length == 0) {
                            errorMsg("请先选择要批量删除的用户！");
                        }
                        break;
                    default:
                }
            });
		});
		
		// 删除用户
		function del(obj, msg, userId) {
            layer.confirm('确认要删除[' + msg + ']用户吗？', function(index) {
                // 发异步删除数据
                $(obj).parents("tr").remove();
                successMsg("已成功删除了[" + msg + "]用户。");
            });
        }
	</script>
</body>
</html>